[2017-01-23 17:27] rafa8626 opened #1 "Split between video qualities"
_From @isantolin on January 20, 2017 18:38_

@ron666 Like Youtube, can add a feature to split between video qualities, or "Auto" for autosplit by bandwidth analisys?

_Copied from original issue: johndyer/mediaelement#2008_

[2017-01-23 17:28] rafa8626 opened #2 "Customize subtitle font/color/size/style from the CC menu"
_From @alindt on November 7, 2016 7:36_

It would be a really great feature to be able to customize subtitle font/color/size/style from the CC menu in the player. Maybe even saving those custom settings in some cookies, per site?

Youtube example:
![1](https://cloud.githubusercontent.com/assets/1379385/20049659/25231f3e-a4cd-11e6-87c7-e655b8752373.png)

jwplayer example:
![](https://www.jwplayer.c

[2017-01-23 17:28] rafa8626 opened #3 "Add support for audioTracks"
_From @jrglasgow on October 20, 2016 14:56_

For accessibility reasons we need the ability to have Audio Descriptive tracks which allow blind users to know what is happening in the video.

The audio track HTML element which is not yet supported buy all browsers would cone a long way toward helping with this issue.

http://www.w3schools.com/tags/av_prop_audiotracks.asp

_Copied from original issue:

[2017-01-23 17:28] ron666 commented on #3
_From @jrglasgow on November 7, 2016 18:4_

[I am currently working on a plugin to add this functionality here](https://github.com/jrglasgow/mediaelement_audio_description)

[2017-01-23 17:28] ron666 commented on #3
@jrglasgow Great. You can create a PR based on `3.x-dev` branch so we can review it

[2017-01-23 17:28] rafa8626 opened #4 "Virtual Reality / 360 Support"
_From @SeventhCycle on October 7, 2016 0:48_

Hello,

There have been 4-5 people in the past week who have messaged me lately asking about VR support in mediaelements.js.

Two of the web players that have been pointed to as examples are:
https://krpano.com/
https://developer.jwplayer.com/jw-player/demos/innovation/360-video/

I'm opening this ticket to see:
1. If there's any plans for this in the

[2017-01-23 17:28] ron666 commented on #4
We'll need to research but once 3.0 version is out it will be very easy to plug this new video type. It will all depend on other factors and if we can manipulate the video the same way we are doing it now. I'll keep you posted about this

[2017-01-23 17:28] ron666 commented on #4
@SeventhCycle After a lot of research and playing with different plugins, I'm planning to use [Google's VR View](https://developers.google.com/vr/concepts/vrview) for this. Although there are some limitations indicated in its website, I'd rather go for a script that will be well supported and it's open source. Let me know your thoughts

[2017-01-23 17:28] ron666 commented on #4
_From @SeventhCycle on November 22, 2016 2:5_

@ron666: This looks interesting from what I can see. I'm really interested to see how it turns out.

Here's some things that I have off the top of my head to factor in. Some of these may already be addressed. It's more along the lines of thinking out loud for now since it's at a starting point.

- Device support: I see that something like this will wo

[2017-01-23 17:28] ron666 commented on #4
@SeventhCycle No problem. As far as I know, the Oculus may work with this, but I don't know about the other 2. For the equirectangular panoramic format I've seen it as the most standard one, and specially if we decide to use MediaElementJS it's more manageable. For the third point, I don't think it's really needed. All the videos should work with headset, but if you don't have one I don't see why

[2017-01-23 17:28] ron666 commented on #4
@SeventhCycle Just to give you an update: I have created the `vr-support` branch, where you can check the work done with Google VRView. It's still not ready since I'm asking questions to the developers about certain things, but overall it can be used. Events like duration, progress or other html5 native ones are not integrated yet since that's what I'm enquiring. If you wanna check this, please ch

[2017-01-23 17:28] ron666 commented on #4
_From @SeventhCycle on December 24, 2016 1:4_

Hi @ron666,

I went ahead and got a Gear VR. I see some promise here!

http://seventhcycle.net/mejsdev/test/player-full.html

When I choose the VR option on this page and play the video, you can put the video fullscreen. When you do, there's a series of options (2d, 360 degree Top Bottom, 180 degree Side by Side, etc) This video seems to be 360 degree

[2017-01-23 17:28] ron666 commented on #4
Thanks for your observations. I'll check it and let you know my findings. Happy holidays as well for you too!

[2017-01-23 17:28] ron666 commented on #4
OK just download the latest version of the `vr-support` branch and use the `/test/player-full.html` file to test this; if you use demos it won't work since the code for VR has been integrated yet in the compiled files. Let me know if it worked for you now. I saw an error message but I don't see it now after the minor fix I set.
<img width="711" alt="screen shot 2016-12-24 at 11 21 17 am" src="http

[2017-01-23 17:28] ron666 commented on #4
_From @SeventhCycle on December 26, 2016 20:31_

Hi,

The video shows up now within a browser window.

When I put the video fullscreen, I still have to set the settings in order to determine what kind of immersion playback I want.

It might be worth waiting until the WebVR spec (https://iswebvrready.org/) is ready, and Google VR View integrates with it (if possible). I noticed on KRpano 1.19 that

[2017-01-23 17:28] ron666 commented on #4
I'll need to check the spec since it's not my area of expertise. Google VR has some additional configuration but I haven't explored it completely. If you find anything that is useful to complete the integration of this piece into MediaElement I'd appreciate it. I'm trying to contact the authors to check some missing features that should be before releasing this, so I'm also waiting for some answer

[2017-01-23 17:29] ron666 opened #5 "chapters display"
_From @hitechwebsites on September 24, 2015 9:40_

Hi,
When using chapters in Firefox 41 the widths are set at 2%, 3%, 3%, 3% ...... and the last one has the remaining space. Would it not be more practical to set the chapters as a dropdown menu with greater widths. At present this is not very user friendly
Chapter bar:
![chapter_bar](https://cloud.githubusercontent.com/assets/5176055/10070134/7f57

[2017-01-23 17:29] ron666 commented on #5
@hitechwebsites Can you provide a URL where we can test this please?

[2017-01-23 17:29] ron666 commented on #5
Closing this issue since no answer has been posted in more than 2 weeks. If you'd like to reopen this, let us know. Thanks!

[2017-01-23 17:29] ron666 opened #6 "VPaid support"
_From @info2000 on May 23, 2014 22:23_

Hi, i want know if is vpaid supported by some plugin or external library.
If no, i will sponsor it

Thanks

_Copied from original issue: johndyer/mediaelement#1205_

[2017-01-23 17:29] ron666 commented on #6
@info2000 Closing old issues. If you'd like to reopen this, let us know. Thanks!

[2017-01-23 17:29] ron666 commented on #6
_From @DrLightman on January 21, 2017 14:30_

Hello, what's the status of this feature at present? Is one able to add let say a VAST as preroll to a video?

[2017-01-23 17:29] ron666 commented on #6
Not yet is in the queue but we haven't done any work. Any PR are welcome for this or I'll keep you posted

[2017-01-23 17:29] ron666 commented on #6
Vast is currently available but you'll need to bundle a custom file. See Guidelines for more instructions

[2017-01-23 19:28] ron666 commented on #5
The idea is to add a button to display them; something like this:
<img width="250" alt="screen shot 2017-01-23 at 2 27 22 pm" src="https://cloud.githubusercontent.com/assets/910829/22219287/30433a92-e178-11e6-90f4-6d149987970a.png">
This will be part of the track package.

[2017-01-23 19:29] ron666 commented on #5
This issue was moved to johndyer/mediaelement#2014

[2017-01-23 19:29] #5 closed

[2017-01-24 11:23] ron666 commented on #6
I'll check https://github.com/MailOnline/videojs-vast-vpaid and see what's needed

[2017-01-24 12:48] DeysonOrtiz opened #7 "Hover effect on videos."
I have a request for videos that autoplay on hover.  Options could be to return the image when a user hovers off the image, to reset the video or simply pause the video so it starts where it was left off.

Please watch the hover effect on thumbnails to see what I mean: https://pixabay.com/en/videos/list/?q=dance&image_type=video&cat=&min_width=&min_height=

Thank you for all your hard work and hav

[2017-01-25 14:31] DeysonOrtiz opened #8 "Single click to Mute and Unmute."
Feature request:  Allow a click on the Speaker icon to Mute and Unmute audio.

[2017-01-25 14:35] ron666 commented on #8
Thanks for reporting this. It should be by default so I'm checking it right now. I'll keep you posted.

[2017-01-25 14:38] DeysonOrtiz commented on #8
Wow.  You are fast!  Thank you good sir! :)

[2017-01-25 14:46] ron666 commented on #8
Done. Check the fix by downloading the latest version of the package and let me know

[2017-01-25 14:56] DeysonOrtiz commented on #8
The audio gets muted now. :)  The only thing missing is for the audio level controller to go down as well.  Right now the audio is mute but the level bar stays up.  Thank you :)

[2017-01-25 14:58] ron666 commented on #8
Gotcha. Working on it right now

[2017-01-25 14:59] DeysonOrtiz commented on #8
Also, it seems that if we click on the speaker icon again the audio does not unMute.
My recommendation is when a person clicks on the speaker to mute it, the speaker gets the little X you have when audio is down as well, to show that it is mute.  Thank you :)

[2017-01-25 14:59] ron666 commented on #8
Interesting. I see the right behavior.
![screen shot 2017-01-25 at 9 58 39 am](https://cloud.githubusercontent.com/assets/910829/22295432/e18bc766-e2e4-11e6-9765-4a77a19a68e7.png)
![screen shot 2017-01-25 at 9 58 44 am](https://cloud.githubusercontent.com/assets/910829/22295433/e36bf0f6-e2e4-11e6-961f-2bc52a8eb087.png)

[2017-01-25 15:00] ron666 commented on #8
Same for video
![screen shot 2017-01-25 at 10 00 12 am](https://cloud.githubusercontent.com/assets/910829/22295485/1e613fe0-e2e5-11e6-8303-985e8773a5af.png)
![screen shot 2017-01-25 at 10 00 19 am](https://cloud.githubusercontent.com/assets/910829/22295486/1e6e8394-e2e5-11e6-8a51-ce0f3b155744.png)

[2017-01-25 15:03] DeysonOrtiz commented on #8
That is odd.  It does work on yours but not mine.

[2017-01-25 15:07] ron666 commented on #8
What OS and browser are you using so I can check it? Also did you download the latest version of the plugin?

[2017-01-25 15:09] DeysonOrtiz commented on #8
Let me re-download and test again.  I am on the latest OSX and using Safari and Firefox.

[2017-01-25 15:11] DeysonOrtiz commented on #8
Just to confirm:  The best place to download is from your live site: http://www.mediaelementjs.com  ?

[2017-01-25 15:17] ron666 commented on #8
From there or GitHub directly doesn't matter

[2017-01-25 15:19] DeysonOrtiz commented on #8
Here is the link to my testing site.  I have included the top video which is on its own and the thumbnail videos, which I am testing for my video gallery:  https://mmt.staging.wpengine.com/vimeo-embed-test-4/

[2017-01-25 15:21] ron666 commented on #8
This is the first thing I see:
![screen shot 2017-01-25 at 10 20 29 am](https://cloud.githubusercontent.com/assets/910829/22296379/f6f73e66-e2e7-11e6-8a42-19b54ae8b119.png)

[2017-01-25 15:26] ron666 commented on #8
Also, make sure to clear your cache just in case because that had happened to me in the past.

[2017-01-25 15:35] DeysonOrtiz commented on #8
I do not know what may cause this error.  I wonder if maybe Vimeo's pickiness for Https. since this is a development site.  But I do not think it would cause the volume issue.  I will clear cache now.

[2017-01-25 15:38] DeysonOrtiz commented on #8
One thing I forgot to point out is that I have to use this script or the videos will not load. This does not match your documentation on your site, though.

<script type="text/javascript">jQuery(document).ready(function($) {
    $('#mejs-player').mediaelementplayer();
});
</script>

[2017-01-25 15:47] DeysonOrtiz commented on #8
I wonder if it has anything to do with With Vimeo background off feature we are testing?

[2017-01-25 15:47] ron666 commented on #8
Yesterday I fixed some issues related to jQuery since users in Wordpress and Drupal couldn't use it, and they confirmed it can be used now. Can you try just using this:
[code]
so I can check what other things might be happening, please?

[2017-01-25 15:48] ron666 commented on #8
I see it working now

[2017-01-25 15:49] ron666 commented on #8
Nevermind I thought it was working

[2017-01-25 15:53] ron666 commented on #8
One thing I did notice is that the controls look like blurry for some reason

[2017-01-25 15:54] ron666 commented on #8
I'd also try to use the unminified version of the plugin to give it a try.

[2017-01-25 15:56] DeysonOrtiz commented on #8
I used the new script linked above. The larger video play, but the small thumbnails do not.  Please note this is a for wordpress site.  P.S.  Speaker mute not working.  I will try the min version now.

[2017-01-25 15:56] ron666 commented on #8
Oh, I figured out what is it: it's because of the parameters of Vimeo related to background. The problem of using that (I found out this later last night) is that the API won't respond to all of the events

[2017-01-25 15:58] ron666 commented on #8
I'm testing one more thing, but I'll keep you posted. That might not be entirely the cause of the issue.

[2017-01-25 15:58] DeysonOrtiz commented on #8
That is what I had thought,  Darn vimeo!! :)

[2017-01-25 15:59] DeysonOrtiz commented on #8
It seems the background feature may be limiting.

[2017-01-25 16:00] ron666 commented on #8
Well, go figure out. It's not the `background` parameter: is the `api` parameter. I disabled it and now it works. I'm testing some more but I'll let you know. It should be ready in a couple of minutes

[2017-01-25 16:01] DeysonOrtiz commented on #8
Thank you :)

[2017-01-25 16:13] ron666 commented on #8
OK I'll strongly advise you not to use `background` until it stops being experimental. Doesn't mean you can't use it, but you will have to write more JS code to stop the autoplay. The reason why volume (and other things) don't work is because `api=1` is for Froogaloop. So not all the arguments in the query string will work. You can download the latest version of the package and it should work now

[2017-01-25 16:20] DeysonOrtiz commented on #8
That makes sense.  Let me test your new download.  Thank you so much for all your wonderful help. :)

[2017-01-25 16:29] DeysonOrtiz commented on #8
Just to confirm?  Are we testing the new JS Script now, since the api=1 will not work for the speaker mute?
<script type="text/javascript">
$(document).ready(function() {
    $('#mejs-player').mediaelementplayer();
});
</script>

[2017-01-25 16:34] ron666 commented on #8
Yeah API won't work anymore since we are not using froogaloop

[2017-01-25 16:45] DeysonOrtiz commented on #8
Got it.
The new script does not work on the video gallery. But it does on the large one on top: http://mmt.staging.wpengine.com/vimeo-embed-test-4/

 I am using the new script within in the loop:

 '<script type="text/javascript">
$(document).ready(function() {
    $('#<?php echo ''.$id.''; ?>').mediaelementplayer();
});
</script>'

This is the loop script that had worked before:
'<script type="te

[2017-01-25 16:54] DeysonOrtiz commented on #8
Please hold on.  It seems I may have discovered a conflict on my end.  Thank you. :)

[2017-01-25 17:02] DeysonOrtiz commented on #8
Ok.  It is working now: https://mmt.staging.wpengine.com/test-mixitup/

Good thing I was working on a different layout to catch this.  Thank you again for all the great work.  The speaker mute works now.  The only thing missing the tap on the video to pause it.  But from what I understand this will not work right now because of the API=0 and Background=1.   Correct?

[2017-01-25 17:08] ron666 commented on #8
correct :) it's a limitation of this approach. Thanks. Closing this issue now

[2017-01-25 17:16] DeysonOrtiz commented on #8
With this limitation can we pause all the video with a button or another trigger.  I had hoped to pause the videos when we click on the filter controls.  Or all pause/play controls non-functional with Background=1 other than the one in the player controls?

I would like to know what our limitations are before I begin to design around it. Thank you again for all your great help! :)

[2017-01-25 17:24] ron666 commented on #8
You can still pause it with the play/pause in the control bar; the only one behavior that won't work is when you click on the video to play or pause

[2017-01-25 17:44] #8 closed

[2017-01-25 17:53] DeysonOrtiz commented on #8
Thank you!  What is the best way to pay back the favor for all the help you have shown us?

[2017-01-25 18:00] ron666 commented on #8
Just star both projects: the plugins and the mediaelement one and tell your peers that do the same. In the end, it's an open source project and I just want to make sure you are using the best. Knowing that we don't have as many bugs as we had in the past it's my satisfaction. If you wanna post something in social media about the plugin or the help you have received or link back to https://github.c

[2017-01-25 18:09] DeysonOrtiz commented on #8
I will!  Thank you again for all your hard work.  I will have some new requests in the near future and I look forward to your awesome help!  Thank you again! :)

[2017-01-25 18:14] ron666 commented on #8
You are welcome :)

[2017-01-28 12:22] DeysonOrtiz commented on #7
Update: The show image on pause has been added.  The one thing needed for this feature request is to play video on mouse hover.

Thank you :)

[2017-01-29 06:04] ron666 commented on #7
@DeysonOrtiz Please download the latest version of the player and test `previewMode: true` configuration; if you need to add sound to the preview, just use `muteOnPreviewMode: false`. Let me know if that works for you.

[2017-01-29 13:01] DeysonOrtiz commented on #7
WOW!  Thank you so much!
Great idea on muting the Audio option.  Another option I have seen used for Mouse Over Video Ads is an audio fade-in when the video starts to play, so people will not be shocked by the audio.

Is this possible to do in the ME player?

Thank you for all your brilliant work!  You, my friend, are a rock star! :)

[2017-01-29 13:20] ron666 commented on #7
Thanks man :) if you can point an example of the audio fade in I can take a look and check if it can be integrated

[2017-01-29 13:48] DeysonOrtiz commented on #7
Great minds think alike.  I was just about to look for some examples.  I did come across a topic:  http://stackoverflow.com/questions/7451508/html5-audio-playback-with-fade-in-and-fade-out/13149848

I will search for the examples I have seen. They had an Audio Fade In and I believe also a Fade Out.

Thank you! :)

[2017-01-29 13:52] DeysonOrtiz commented on #7
Would this help?  http://www.jqueryscript.net/other/jQuery-Plugin-for-Fade-in-Fade-out-HTML5-Audio-fadeaudio.html

Also, maybe instead of True or False, we can add a time to the fade in or out.  0 = no fade and 1+ seconds fade.  What do you think?

[2017-01-29 13:54] ron666 commented on #7
Sounds interesting. Let me see what I can get to achieve this once I review those 2 links you provided me. Thanks

[2017-01-29 13:55] DeysonOrtiz commented on #7
Great!  Please let me know if you need me to find some more for you.    Thank you, good sir! :)

[2017-01-30 05:22] ron666 commented on #7
Please download the latest version of the plugin and use the following config elements so you can achieve the whole behavior of playing when hovering and fading in/out at a certain point of the media:
[code]
Let me know if that works for you. Thanks

[2017-01-30 15:08] DeysonOrtiz commented on #7
Woo Hoo!!!!!! Thank you! It works beautifully!  Great work, you are a genius, my friend! :)

However, I did find one issue or bug, I do not know if it was there before or if it is new. But, when we hover to play the video and while it is playing if we hover over the bottom controls, the video stops and resets and does not play again unless we hover off and on again.  Did I do something wrong, or i

[2017-01-30 15:10] DeysonOrtiz commented on #7
One more thing, I have never downloaded the MediaElements Plugins.  Is that different?  Where do I install this?  Thank you. :)

[2017-01-30 15:18] ron666 commented on #7
Yeah I may need to check that issue; just download the repo and use whatever plugins you need after the mediaelement script; in your case, check first the plugins available in the README file to make sure you need to install any of them or not

[2017-01-30 15:20] DeysonOrtiz commented on #7
I do not see this feature in the plugins.  So I guess you had added it to the core.  :)

[2017-01-30 15:31] ron666 commented on #7
Yeah correct

[2017-01-30 15:41] DeysonOrtiz commented on #7
Ok great!  Thank you.  :)

[2017-01-30 19:43] ron666 commented on #7
You know what? I should actually put this as a plugin. So I'm working on that plus giving a nice solution for the bug you indicated. In order to install any plugin, you download the repo and reference the plugin you want like this (in your case, the name of the feature would be `preview`):
[code]
I'll let you know when it's ready :)

[2017-01-30 21:39] ron666 commented on #7
@DeysonOrtiz Ok it's ready just follow the instructions I described in the previous comment, or check the README.

[2017-01-30 21:55] ron666 commented on #7
Also download the latest version of the player to svoid any conflicts

[2017-01-31 13:02] DeysonOrtiz commented on #7
Thank you.  I will try it out right now! :)

[2017-01-31 13:33] DeysonOrtiz commented on #7
@ron666 It seems that the play on hover does not work now.  Here is the test site:  https://mmt.staging.wpengine.com/testing-dual-header/

Please let me know what you think.  Thank you and have a beautiful day! :)

[2017-01-31 14:05] ron666 commented on #7
It doesn't work because you haven't added the item in your `features` list; should be:
[code]

[2017-01-31 14:26] DeysonOrtiz commented on #7
Oh ok, I get it.  I had wanted to the same look and had copied the old feature layout.  I am very sorry for missing the new preview feature.   Works it perfect now!  Thank you :)

One thing you may want to let users know is that the video leaks through a very little bit of the audio before the audio fade in kicks in.  I do not know if this is a limitation on HTML5 video/audio.  However, it is much

[2017-01-31 15:26] ron666 commented on #7
Thank you! Closing this issue now

[2017-01-31 15:26] #7 closed

[2017-02-01 13:39] DeysonOrtiz opened #9 "New preview mode allow clickable video."
Hello and good day.

I had wanted to know.  Now that there is a hover to play preview mode, can the video itself be clicked on to send a visitor to another page?

Thank you and have an amazing day! :)

[2017-02-01 13:50] ron666 commented on #9
It can but you may need to use the `success` method to do it:
[code]
Let me know if that works for you.

[2017-02-01 14:12] DeysonOrtiz commented on #9
Hello and good day!  I hope you are not tired of me yet. :)

Do we add this to the demo.js or add it under the HTML5 code?  Thank you :)

[2017-02-01 14:14] DeysonOrtiz commented on #9
I got it.  I added to the Demo.js.  Thank you! :)

[2017-02-01 14:17] ron666 commented on #9
You are welcome :)

[2017-02-01 14:17] #9 closed

[2017-02-01 14:19] DeysonOrtiz commented on #9
Out of curiosity.  Can I add this script under the video HTML instead of Demo.js?  The reason is I need to pass a variable into it.  Can I use both inline and demo.js at the same time?  Thank you :)

[2017-02-01 14:26] ron666 commented on #9
Yes you can, just check the order of your scripts to make sure you don't have any errors between the inline JS and the demo.js

[2017-02-01 14:51] DeysonOrtiz commented on #9
Ok.  Thank you :)

-- ---

Deyson Ortiz
deyson.com + motionmastertemplates.com

[2017-02-17 19:08] DeysonOrtiz opened #11 "Option to pause or reset using the preview feature"
Hello and good day.

Right now the preview feature resets the video to the start when the mouse hovers out.  Is it possible to have an option to pause?  After testing I can see how some visitors may want to start off where they left off when they hover back on a video to play.  With it being optional we can test to see what is best.

Thank you and have an amazing day! :)

[2017-02-17 22:39] ron666 commented on #11
It can be set but I'll let you know when ready. Thanks

[2017-02-19 11:59] DeysonOrtiz commented on #11
Thank you!! :)

[2017-02-19 14:06] 7huo opened #12 "demo Language Simplified Chinese (zh-CN)"
`diff --git a/demo/index.html b/demo/index.html
index fb4c5f9..d1799e5 100644
--- a/demo/index.html
+++ b/demo/index.html
@@ -84,7 +84,7 @@
                     <option value="ro">Română / Romanian (ro)</option>
                     <option value="ru">Русский / Russian (ru)</option>
                     <option value="sk">Slovensko / Slovak (sk)</option>
-                    <option value="zh-cn">

[2017-02-19 14:14] #12 closed

[2017-02-20 17:20] DeysonOrtiz opened #13 "Audio fade in jittery"
Hello and good day.  I am not sure if this is a limitation with Vimeo.  When I use the fade in controls, it seems to bounce up and down as the audio fades in.  You may see and hear it here.  https://mmt.staging.wpengine.com/

Here are the settings:
    fadeInAudioStart:0,
    fadeInAudioInterval:20,
    fadePercent: 0.04,

Please let me know what you think.  Thank you for all your genius hard work

[2017-02-20 17:35] DeysonOrtiz opened #14 "Keep video playing while hover bottom div."
Hello and good day.  I am using the Preview Plugin and I had wanted to know if there is a way to keep the video playing when a user hovers over the div underneath the video ( where the title and buy button are ):  https://mmt.staging.wpengine.com/

Thank you and have an amazing day! :)

[2017-02-20 19:16] ron666 commented on #13
You are welcome :) I'll check this and keep you posted

[2017-02-20 19:23] ron666 commented on #14
You may need to create custom Javascript to trigger this, since the DIV is not part of the player. Something like this:
[code]

[2017-02-20 19:23] #14 closed

[2017-02-21 11:07] DeysonOrtiz commented on #13
Thank you very much! :)

[2017-02-21 16:52] DeysonOrtiz opened #15 "Disable preview on scroll"
Hello and good day!  :)

Someone had just made a request to disable hover to preview feature while the user is scrolling the page.  Is this a possible option?  Thank you! :)

[2017-02-21 16:53] DeysonOrtiz opened #16 "Delay on Hover to Preview"
Hello and good day! :)

If it is not too much trouble, is it possible to add an option to have a delay before the hover to preview begins?   This way if a person is moving their cursor over a few thumbnails to get to one they do not all get triggered.

Please let me know what you think and have an amazing day! :)

[2017-02-21 19:35] ron666 commented on #11
Please download the latest version from here and you will see a new element named `pauseOnlyOnPreview` and is set to false; if you set it to true then you will pause rather than reset. Thanks

[2017-02-21 19:35] #11 closed

[2017-02-21 19:35] ron666 commented on #15
It might be complicated to do this, but I'll check if it's feasible

[2017-02-21 19:41] DeysonOrtiz commented on #15
Thank you.  You are awesome! :)

[2017-02-21 19:44] DeysonOrtiz commented on #11
Hello.  If I am using a cloud JS library do I need to download when you update?
I am using this:  <script src="https://cdn.jsdelivr.net/mediaelement-plugins/1.1.0/preview/preview.js"></script>

Thank you :)

[2017-02-21 19:55] ron666 commented on #11
Yeah you can't use CDN until I release the next version. You'll need to download. Once I figure out the issue with the preview audio completely (which I'm close) I'll bump the version number

[2017-02-21 20:12] ron666 commented on #15
Please download the latest version and, if you scroll, media will be paused automatically to avoid any misbehaviors. Thanks

[2017-02-21 20:12] #15 closed

[2017-02-21 20:17] ron666 commented on #16
Please download the latest version and you can use now a `delayPreview` element, in which you can set in milliseconds the delay to start playing media. Thanks

[2017-02-21 20:18] #16 closed

[2017-02-21 22:15] DeysonOrtiz commented on #11
Got it!  I will test it first thing in the morning!  Thank you good sir for all you awesomeness magic!  Have an amazing night! :)

[2017-02-22 03:37] ron666 commented on #13
@DeysonOrtiz I pushed a new release and this issue is fixed on that new release. Check the CDN to get the latest version, and let me know how it worked for you. Thanks

[2017-02-22 03:37] #13 closed

[2017-02-22 03:43] ron666 commented on #13
Also, make sure you use the latest version (from GitHub) of the player; I fixed an issue related to Vimeo and this fix will be released on Thursday. Thanks

[2017-02-22 12:21] DeysonOrtiz commented on #15
This is working.  Thank you :)  Great work good sir! :)

[2017-02-22 12:22] DeysonOrtiz commented on #13
It works perfectly!  Thank you!  Future visitor's ears will thank you.  Have an amazing day! :)

[2017-02-22 12:39] DeysonOrtiz commented on #11
Hello and good day.
I have downloaded both the preview and the player for testing.

However, when I use the new player the video poster show up for a second and then they all hide and show the video player alone:  https://mmt.staging.wpengine.com/test-home/

When I switch back to the older player the video posters work as they should.  Please let me know what you think.  Thank you and have an amaz

[2017-02-22 12:43] ron666 commented on #11
Can you post the code you used for the poster, please? The fix had nothing to do with the player as a whole, just a matter of an event being fired out of time

[2017-02-22 12:45] DeysonOrtiz commented on #16
Hello and good day.

I think you are close good sir.  However, I just wanted to let you know that when someone goes over a video to go somewhere else the video begins to play even the mouse is not on that video anymore.

Here is a quick video to illustrate what I mean:  http://quick.as/Lq4iZb9x

Thank you again for all your hard work!  Thank you and have an amazing day! :)

[2017-02-22 12:48] DeysonOrtiz commented on #11
I am using WordPress so I am using variables to call the posters and the videos:
One thing to point out is that it works with the older media player.

<video id="<?php the_ID(); ?>" width="568" height="319" poster="<?php echo ''.$tumbnail_uri.''; ?>" preload="none">
                    <source src="<?php echo ''.$url.''; ?>" type="video/vimeo">
                </video>

Please let me know what you

[2017-02-22 12:49] DeysonOrtiz commented on #11
Here is the same setup but using the older video player on this page:  https://mmt.staging.wpengine.com/

This is the one using the new player:
https://mmt.staging.wpengine.com/test-home/

Thank you :)

[2017-02-22 13:46] ron666 commented on #11
I have checked the difference but I cannot find anything related. One thing I do saw is that in your test environment is a delay when loading the poster images. I don't know if you can investigate this a little bit more please

[2017-02-22 13:54] ron666 commented on #16
Can you download the latest version and check this now, please? I think I missed to clear a variable to avoid this behavior. Keep me posted and thanks for testing this.

[2017-02-22 14:26] DeysonOrtiz commented on #16
I will check right now.  Thank you :)

[2017-02-22 14:34] ron666 commented on #16
Can you send me your URL to check this please?

[2017-02-22 14:47] DeysonOrtiz commented on #11
I am sorry but I do not know of the delay you refer to.
Here is the same test page but instead with the previous live version of the player loading from the CDN:  https://mmt.staging.wpengine.com/test-home/

`This is the player's CDN source that works: https://cdn.jsdelivr.net/mediaelement/3.1.2/mediaelement-and-player.js
`
Please let me know your feedback and if there is anything I can do to help

[2017-02-22 14:49] DeysonOrtiz commented on #16
I have switched the player to the previous player for a test in another of our conversations.  However, the preview plugin is the new one:  https://mmt.staging.wpengine.com/test-home/

Thank you very much for your help.  I look forward to your response.  :)

[2017-02-22 14:55] ron666 commented on #11
For the fix you will need to use a local version of mediaelement, not the CDN one, since the local version will carry the fixes

[2017-02-22 15:11] DeysonOrtiz commented on #11
I am sorry for the misunderstanding.  I switched to the CDN just recently to demonstrate how the CDN version shows the video poster as intended.

I have switched back to the local version as you have instructed and the video posters are missing as before.  The weird thing is that I see them appear for a second and then they disappear.

Please let me know what you need me to do next.  I will be sta

[2017-02-22 15:35] ron666 commented on #11
Totally weird. Just for testing purposes, can you put the latest libraries in the https://mmt.staging.wpengine.com/ just to make sure nothing is different between one and the other, please?

[2017-02-22 15:37] DeysonOrtiz commented on #11
Yes.  Please stand by.

[2017-02-22 15:39] DeysonOrtiz commented on #11
Done.  Video posters are not showing.  I agree that is it weird.  Please let me know what else you would like me to test.  Thank you :)

[2017-02-22 15:42] ron666 commented on #11
Can you send me the code you are using to show/hide poster images, please?

[2017-02-22 15:44] DeysonOrtiz commented on #11
Yes sir:

[code]

[2017-02-22 15:48] ron666 commented on #11
Nothing here as far as I can see. I'm confused about this. I'll try to check some more. I'll keep you posted

[2017-02-22 15:48] ron666 commented on #11
If you wanna revert your libraries I'm fine with it, but leave the test site with the current ones so I can try to check the difference

[2017-02-22 15:52] DeysonOrtiz commented on #11
I will leave everything as is until you tell me otherwise.  Thank you for your patience.  :)

[2017-02-24 02:48] ron666 commented on #16
Ok please download the latest version of the plugins; I figured out why it wasn't responding properly. Let me know and thanks for reporting this

[2017-02-24 02:52] ron666 commented on #11
After I updated the Preview plugin, I give it a try using a single video and I got everything right. I don't know if it's a loading time or what. I'm using the latest version of MEJS and the latest of the Preview plugin.

[2017-02-24 02:56] ron666 commented on #3
@jrglasgow I have started a branch migrating your code to be used with 3.x version. I'll keep you posted about this. Thanks

[2017-02-24 14:30] DeysonOrtiz commented on #11
Hello.  I will download both the media player and preview plugin to test them out.  Thank you very much and I shall keep you posted.  :)

[2017-02-24 14:41] DeysonOrtiz commented on #11
The video posters are showing!  Woo Hoo!  Thank you very much for all your amazing work! :)
You are awesome! :)

https://mmt.staging.wpengine.com/

[2017-02-24 14:43] ron666 commented on #11
I'm glad it's fixed! Have a nice weekend

[2017-02-24 14:47] DeysonOrtiz commented on #16
Brilliant work my friend!  You are a rockstar in coding and development!  :)
Thank you very much for all your hard work! :)

P.S. would it be too much trouble if we could have a loading animation occur during the delay?  This way the users know something is about to play. Please let me know what you think.

 Have a wonderful day!

[2017-02-24 14:48] DeysonOrtiz commented on #11
You too! :)

[2017-02-24 14:49] ron666 commented on #16
You mean like the loading animation?

[2017-02-24 14:50] DeysonOrtiz commented on #16
Yes, a spinner of sorts.  I believe MediaElements player has one.  I had thought when a user hovers the loading animation appears during the delay and hides when the video plays.  What do you think?

[2017-02-24 14:51] ron666 commented on #16
It could be. Let me see and I'll let you during the course of the day.

[2017-02-24 14:54] DeysonOrtiz commented on #16
Thank you very much! I look forward to your response.  :)

[2017-02-24 15:33] ron666 commented on #16
Ok download the latest version of the plugin and let me know. Thanks

[2017-02-24 15:39] DeysonOrtiz commented on #16
That is beautiful!  I love it!   You are a genius, my friend!  :)   Wow!!!  Thank you very much for you sharing your expertise, you are brilliant. :)

https://mmt.staging.wpengine.com/

[2017-02-24 15:44] ron666 commented on #16
You are welcome. Thanks for being on top of this plugin. Just for curiosity, do you speak Spanish?

[2017-02-24 16:06] DeysonOrtiz commented on #16
You are very welcome, I am happy to help.  Si señor, hablo español.  :)

[2017-02-24 16:14] ron666 commented on #16
perfecto, cuando necesites algo mas avísame. Ten un excelente fin de semana!

[2017-02-24 16:43] DeysonOrtiz commented on #16
Muchas gracias!
Estoy bien agradecido por todo la ayuda que uste mi ha dado.
Gracias y tenga un bellisimo dia!  :)

[2017-02-24 16:44] ron666 commented on #16
Igualmente ten un excelente dia :)

[2017-02-24 16:52] DeysonOrtiz commented on #16
Gracias! :)

[2017-02-28 02:21] chaserstrong opened #17 "what does the other configuration mean?"
In the wiki, just like below, where can i find the details of configuration?
`    $('video').mediaelementplayer({
        defaultSpeed: 0.75,
        // other configuration elements
    });`

[2017-02-28 02:26] ron666 commented on #17
Check the documents of each plugin here if you use any of them; otherwise, check [here](https://github.com/johndyer/mediaelement/blob/master/docs/api.md) for more info

[2017-02-28 02:26] #17 closed

[2017-02-28 02:40] chaserstrong commented on #17
@ron666  I got it, thanks very much.

[2017-03-22 10:46] ramkrishnsaini opened #18 "m4v video not playing in latest version of google chrome"
I am using medialement plugin in my app and it was working fine earlier but suddenly it stopped working in google chrome latest version.

I checked the google chrome version in which it is still working is 53.xxx

and now google chrome updated to 56.xxx.

I tried few thing and one thing that partial worked is when I set type="video/x-m4v". but this is not fully workable in large app.

[2017-03-22 10:51] ron666 commented on #18
Can you share a URL so I can check this, please?

[2017-03-29 10:47] ron666 commented on #6
@gitEdMax this feature has been worked on. Please provide feedback here. Thanks

[2017-03-29 10:48] ron666 commented on #18
Closing issue since no updates on more than a week.

[2017-03-29 10:48] #18 closed

[2017-03-29 22:38] ron666 commented on #6
@gitEdMax I got solved the issue with tracking. Please download the master branch of this repo and use `ads` and `ads-vast` to test once more. Thanks for your patience.

[2017-03-30 10:59] ron666 commented on #6
@gitEdMax BTW if you can provide more robust VAST and VPAID URLs to check what's missing to integrate in the plugin I'd appreciate it.

[2017-03-30 11:22] gitEdMax commented on #6
Thanks very much Rafael !

Now ready for VAST and VPAID

Great job!

Ed

Van: Rafael Miranda [mailto:notifications@github.com]
Verzonden: donderdag 30 maart 2017 00:39
Aan: mediaelement/mediaelement-plugins <mediaelement-plugins@noreply.github.com>
CC: Ed <info@maxiweb.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [mediaelement/mediaelement-plugins] VPaid support (#6)

@gitEdMax <https:

[2017-03-30 12:09] ron666 commented on #6
Thanks for sharing your knowledge. Last thing I'll do it to rename the file to `ads-vast-vapid`

[2017-03-30 12:09] #6 closed

[2017-03-31 15:17] CalebKester opened #19 "Installation instructions for node"
I'm pretty new to node and trying to get the video working in my vuejs project. It would be great of mediaelement-plugs was an npm package so we could both use npm as well as use import statements to pull it into our code.

Any thoughts?

[2017-03-31 17:00] ron666 commented on #19
Good point. I'll publish the package later so it's available for everybody. Thanks

[2017-03-31 17:06] ron666 commented on #19
Done. https://www.npmjs.com/package/mediaelement-plugins

[2017-03-31 17:06] #19 closed

[2017-04-01 20:50] lebanggit opened #20 "Need demo implement plugin"

[2017-04-01 20:52] lebanggit opened #21 "Need demo implement plugin"
I have try with sort document at here:
https://github.com/mediaelement/mediaelement-plugins

But failed. Please provide some demo about implement plugin on mediaelement

For Example speed plugin.

[2017-04-01 22:49] #20 closed

[2017-04-02 05:30] ron666 commented on #21
Thanks for pointing this. I'll create a master demo with some of the visual plugins and let you know when ready

[2017-04-02 09:40] skoften opened #22 "no support for VAST 3.0"
2.0 is supported only :-(

[2017-04-02 12:53] ron666 commented on #22
Have you tried the latest version of this plugin? I'm not familiarized with what is needed for VAST 3.0 but if you can point it out and provide me a sample URL for VAST 3.0 I can work on it

[2017-04-02 16:49] skoften commented on #22
Yes, latest version only supports 2.0 VAST structure. The elements are different, so at this moment when you try to load a VAST 3.0 feed, it generates errors and the player won't play the preroll or video.

Example 2.0: http://www.adotube.com/php/services/player/OMLService.php?avpid=oRYYzvQ&platform_version=vast20&ad_type=linear

Example 3.0, see attachement.

[vast3.0.txt](https://github.com/medi

[2017-04-02 16:50] ron666 commented on #22
OK I'll check this and keep you posted when this is ready. Thanks

[2017-04-03 02:33] ron666 commented on #22
In your example for 3.0 VAST I don't see any `MediaFile` tags. Is that expected? Also, I didn't see a tag with the ID and I'm not sure if the `AdSystem` tag is the title. Can you clarify please?

[2017-04-03 03:41] rafa8626 opened #23 "Chromecast Support"
_From @isantolin on February 8, 2017 18:51_

@ron666  A lot of players now includes Chromecast support
- VideoJS: https://github.com/benjipott/video.js-chromecast
- Flowplayer: https://flowplayer.electroteque.org/chromecast

Its a good feature, because in the case of Flowplayer is a pay plugin

_Copied from original issue: mediaelement/mediaelement#2065_

[2017-04-03 03:41] ron666 commented on #23
@isantolin Thanks. I'll check this

[2017-04-03 03:41] ron666 commented on #23
Since I don't have a Chromecast device, what's the expected output for this?

[2017-04-03 03:41] ron666 commented on #23
_From @isantolin on February 16, 2017 11:41_

When a Chromecast is configured on Browser, a Player with Chromecast support adds a Button to broadcast content to device.
![sample](https://cloud.githubusercontent.com/assets/264640/23019977/fa99253e-f42b-11e6-9942-012f2b2835e7.jpg)

If you dont have a Chromecast, you can use Cheapcast app to emulate

[2017-04-03 03:41] ron666 commented on #23
_From @jimmywarting on February 21, 2017 21:39_

+1 (only feature missing for me to swish to elmementjs)

While we are at it. How about adding AirPlay also?
here is a demo: https://jsfiddle.net/8gd83urs/?utm_source=website&utm_medium=embed&utm_campaign=8gd83urs

[2017-04-03 03:41] ron666 commented on #23
_From @eposjk on February 24, 2017 16:53_

By the way: There is a Web Presentation API ( https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API ) which is already supported by Chrome (seems to be for Chromecast) with an experimental Polyfill which should work without Chromecast ( https://mediascape.github.io/presentation-api-polyfill/ ). What about using that?

[2017-04-03 03:41] ron666 commented on #23
_From @leocaseiro on February 26, 2017 8:51_

How about this example, is with mediaelement.js, isn't?
http://amoravhad.com/projects/vCast-jQuery/index.html

[2017-04-03 03:41] ron666 commented on #23
_From @jimmywarting on February 26, 2017 10:35_

Would like something more internal support rather then having some plugin. Casting is something that everyone would want

[2017-04-03 03:41] ron666 commented on #23
_From @leocaseiro on February 26, 2017 12:1_

Hi @jimmywarting

Thanks for your reply.

 I'm sorry, it was only a reference that uses `mediaelement.js`.

The demo app [CastVideos-chrome](https://github.com/googlecast/CastVideos-chrome) should help with the code as well.

[2017-04-03 03:41] ron666 commented on #23
_From @leocaseiro on February 26, 2017 12:3_

The [vcast](http://amoravhad.com/projects/vCast/demo/wp-content/plugins/vcast/js/vcast.js) uses a lot from [CastVideos.js](https://github.com/googlecast/CastVideos-chrome/blob/master/CastVideos.js)

[2017-04-03 03:41] ron666 commented on #23
Thanks all for your comments. I'll check the documentation about this and start working on it. I'll try to include AirPlay. This ticket should be logged in `mediaelement-plugins` repo BTW

[2017-04-03 03:41] ron666 commented on #23
_From @jimmywarting on February 26, 2017 14:55_

videojs also have plugin for casting

https://github.com/benjipott/video.js-chromecast
https://github.com/jgubman/videojs-airplay

[2017-04-03 03:41] ron666 commented on #23
_From @jimmywarting on March 14, 2017 17:53_

The advantage with presentation api vs chromecast is that you can also cast to some TV's with DIAL (discovery and launch)

[2017-04-03 05:31] skoften commented on #22
Unfortunately I'm not a specialist on this subject, we only use is as a publisher. Only thing I can say is that 3.0 is a wide used format nowadays.

More info on 3.0 can be found here: https://www.iab.com/guidelines/digital-video-ad-serving-template-vast-3-0/

A nice matrix with version differences: http://adtagmacros.com/2016/10/difference-between-vast-2-0-and-vast-3-0-vast-4-0.html

[2017-04-03 10:49] ron666 commented on #22
Thanks I'll check this documentation and update the plugin. I'll keep you posted. If you can get me a more robust sample URL I can use for testing purposes I'd appreciate it

[2017-04-03 11:16] ron666 commented on #21
@lebanggit You can find now a demo folder that has an index file to show you how to use plugins. Thanks for reporting this

[2017-04-03 11:16] #21 closed

[2017-04-04 11:14] ron666 commented on #22
@skoften I refactor the `VAST-VPAID` plugin and it's now supporting VAST3.0. I tested it with https://raw.githubusercontent.com/chrisdinn/vast/master/test/examples/vast3_inline.xml. Please download the master branch and test it on your side. Keep me posted

[2017-04-05 03:37] #22 closed

[2017-04-06 23:43] openbayou opened #24 "Jump forward keeps repeating while skip back doesn't"
I've noticed that if you keep pressing jump forward button, it repeats to the beginning of the file in a loop. Skip back does not.

[2017-04-06 23:54] rafa8626 commented on #24
Thanks for reporting this. I'll take a look at it and keep you posted

[2017-04-07 01:53] rafa8626 commented on #24
@openbayou Check the demo file on the master branch; I added a missing parameter so it doesn't rewind. That's why when you keep pressing the button it repeated.

[2017-04-07 01:53] #24 closed

[2017-04-10 06:10] openbayou opened #25 "Can only user Skip back and Jump forward when audio is playing"
Is there a way to use the skip back and jump forward plugins when the audio player is not playing when the player has loaded for the first time? Currently, the only the way for those plugins to work is when the audio player is playing. When the player has started to play the media file and then pause, you can use those plugins.

Example of what I'm talking about:
[initial/first time loading]
Skip

[2017-04-10 12:24] rafa8626 commented on #25
I'll take a look at this and keep you posted. Thanks

[2017-04-10 23:17] rafa8626 commented on #25
@openbayou I fixed an issue found causing always to point zero when jumping forward in the initial load; please download the master branch and confirm

[2017-04-11 03:33] openbayou commented on #25
Download it, does not work.

[2017-04-11 09:56] rafa8626 commented on #25
That's expected. The plugin does not play the media if you jump back and forth; at least it wasn't designed that way. For the skip back, on the initial load it likely will be zero always unless you have a different scenario; if so can you share a URL where I can see your issues, please?

[2017-04-11 19:23] openbayou commented on #25
hmm, interesting. Works fine on player hosted online. Kind of messed up on internal server. http://wpfreelance.bayoumedia.net/audio/

[2017-04-12 01:06] rafa8626 commented on #25
Closing this issue since behavior has been fixed. If you have any more questions, please let me know

[2017-04-12 01:06] #25 closed

[2017-04-12 22:22] andyh4 commented on #23
Any movement on this?

[2017-04-12 22:24] rafa8626 commented on #23
I'm still working on this. I've had some issues on the main player that took precedence. But I'll keep you posted in the course of next week

[2017-04-17 13:50] rafa8626 commented on #23
@thisanimus, @jimmywarting and @isantolin, I have the `chromecast-support` branch. I don't have a way to test it since I don't own an Android or Chromecast. If you can point me how can I test this using Mac and iOS I'd appreciate it. Otherwise, if you can test and post your issues here also is welcome.

[2017-04-17 14:36] thisanimus commented on #23
I'll start testing this afternoon.  If you want to test on your own, a chromecast can be had for ~$30, the only other thing you need is a chrome browser on any platform.

[2017-04-17 15:03] rafa8626 commented on #23
Thanks. Send me screenshots and expected behaviors if you find any issues, please to speed the completion of this plugin

[2017-04-17 15:36] thisanimus commented on #23
Wilco

[2017-04-17 16:27] jimmywarting commented on #23
I was able to select chromecast device

![skarmavbild 2017-04-17 kl 18 04 33](https://cloud.githubusercontent.com/assets/1148376/25094629/5eb6e538-2398-11e7-9250-ea9735d509cd.png)

A cast icon turns up on my TV, But i can't see the movie...

I'm seeing this error
[code]

![skarmavbild 2017-04-17 kl 18 06 30](https://cloud.githubusercontent.com/assets/1148376/25094692/a07d2298-2398-11e7-8b76-7a55c6

[2017-04-17 17:28] rafa8626 commented on #23
@jimmywarting Thanks I'll check this issue. I'm not sure where is this happening on my code. If you can help me pointing where I'd appreciate it. In the screenshot I can't see any references to my code

[2017-04-17 17:56] jimmywarting commented on #23
I know, it's weird no reference to your code.

[2017-04-17 18:06] rafa8626 commented on #23
@jimmywarting Can you do me a favor and download the project of https://github.com/googlecast/CastVideos-chrome, and install it in your localhost and test it please? This seems to be an issue with the library itself and needs to be reported. If not I'll need the whole trace for this error

[2017-04-17 18:22] rafa8626 commented on #23
Also, download the branch again; I removed some code and allowed a console.error call if any errors with media

[2017-04-17 19:15] jimmywarting commented on #23
This is where it fails:
[code]

this/t is undefined

[2017-04-17 19:26] rafa8626 commented on #23
Thanks for the hint. I'll check this

[2017-04-17 20:01] jimmywarting commented on #23
a simple `.bind(this);` works but that leaves me with the next error...

[code]

`castPlayerEventType` is undefined...

[2017-04-17 20:41] rafa8626 commented on #23
Comment please the lines related to adding events to `t.castPlayerController` and see if you have any issues. I tried to set something with those but it may be overkill and clearly it has issues. Let me know

[2017-04-17 20:43] rafa8626 commented on #23
And yes I added the bind but I didn't push it. Thanks anyway for the hint

[2017-04-17 21:22] rafa8626 commented on #23
Nevermind. The code had a typo for those events and I fixed those. Please check the branch again and test

[2017-04-18 11:01] rafa8626 commented on #23
@jimmywarting @thisanimus Any updates on this after the fixes I posted yesterday?

[2017-04-18 11:15] jimmywarting commented on #23
I can't test it at work, don't have a chromecast here so... got to wait a few hours till i get home

[2017-04-18 11:16] rafa8626 commented on #23
No problem. Thanks for testing this. If there's anything else missing as well let me know

[2017-04-18 17:22] jimmywarting commented on #23
Now i don't get any errors 👍
it kind of works (poorly)

### test 1
 1. When i press the chromecast button then the video is not transmitted. Only a chromecast logo appears on the TV like if it's ready to receive (made a connection)
 2. I refreshed the page and it manage to remember the connection it had with the TV 👍
now when i press the play button it starts to play the video on both the TV and t

[2017-04-18 17:24] rafa8626 commented on #23
Good. I think the SAMPLE comes like that because the cast ID is the one Google uses by default. Unless you obtain a new ID it won't say that anymore. Did you set up the `poster` attribute on your demo file? What else did you experienced, since I can't really test this myself

[2017-04-18 17:27] jimmywarting commented on #23
I did some own development before i discovered there was a chromecast plugin to VideoJS. <br>
Then I used the "Default" player and it didn't say "sample"...

[2017-04-18 17:27] rafa8626 commented on #23
Also if you have screenshots of the console output that would be good to see. In that case, you should use the uncompressed version of `chromecast` plugin instead of the compressed one. Let me know if you have any questions/comments

[2017-04-18 17:28] jimmywarting commented on #23
i didn't had any poster...

[2017-04-18 17:28] rafa8626 commented on #23
Right now it has changed some. They have reduced the code that is needed on our end to implement Cast. the one VideoJS implement is using the version 2.0 and we are using 3.0

[2017-04-18 17:30] jimmywarting commented on #23
Okey 👍

[2017-04-18 17:32] rafa8626 commented on #23
Keep me posted if you can find anything that I'm not aware of or needs to be implemented so I can release the plugin soon. I need to make sure is stable enough to release it, and since you mentioned poorly, I'm not that sure

[2017-04-18 17:34] jimmywarting commented on #23
Can start of with making the video start playing directly after you have connected to the chromecast. (without having to refresh the page)

[2017-04-18 17:35] rafa8626 commented on #23
OK I'll check this later today. Anything else?

[2017-04-18 17:51] jimmywarting commented on #23
- Don't play the video on the website... show a poster or 1 frame instead (maybe some onscreen text like "currently playing on: **Living room**")
- If you refresh the page it should get all the metadata from the chromecast session like "currently playing big buck bunny, volume, how far into the movie you are"
- make the play/pause reflect onto the tv so you can pause/resume the video from the webs

[2017-04-18 17:54] jimmywarting commented on #23
example from youtube

![skarmavbild 2017-04-18 kl 19 53 47](https://cloud.githubusercontent.com/assets/1148376/25145222/d964f1c0-2470-11e7-9a50-5b6aace8bbda.png)

[2017-04-18 18:25] rafa8626 commented on #23
Thanks for the information. I'll give you an update of this soon

[2017-04-18 19:34] jimmywarting commented on #23
Setting up events for the `castPlayerController` and updating the media player is easy made 2 PR already, However there is many events that are still missing.

![skarmavbild 2017-04-18 kl 21 27 51](https://cloud.githubusercontent.com/assets/1148376/25149338/5b912aee-247e-11e7-9a30-27597db0166c.png)

The only thing i haven't wrapped around my head is to get the player to show the video initially wh

[2017-04-18 19:41] rafa8626 commented on #23
I think I know why. I just bought a Chromecast and I'll test tonight. I'll check your PR as well. Thanks

[2017-04-18 19:43] jimmywarting commented on #23
Best investment you have ever made 👍
you won't regret it :)

[2017-04-18 20:03] rafa8626 commented on #23
:) I'll keep you posted about the final fixes I'll put for this. Thanks for your help

[2017-04-19 12:56] rafa8626 commented on #23
@jimmywarting I may need to step back and integrate this inside of the `MediaElement` player itself, because of the dual nature of Chromecast. I'll keep you posted on this.

[2017-04-21 12:34] rafa8626 commented on #23
@jimmywarting I almost have the new work setup for Chromecast. I have a new branch to support AirPlay. Is there a chance you can test it, please? If so, check the `airplay-support` branch.

[2017-04-21 13:15] jimmywarting commented on #23
I have a AirPlay here at work that i might be able to test today, but if not then i can install a AirPlay reciver on my android to test it

[2017-04-21 13:44] rafa8626 commented on #23
Ok thanks keep me posted

[2017-04-22 06:17] openbayou opened #31 "Set default audio?"
Is it possible to set the default audio in the player?

[2017-04-22 11:15] rafa8626 commented on #31
Can you provide an example of what you are trying to achieve please?

[2017-04-22 19:26] jimmywarting commented on #23
I installed [airpin (lite)](https://play.google.com/store/apps/details?id=com.waxrain.airplayer&hl=en) on my android to test the airplay

there was but one small issue with the spelling but otherwise it did look good 👍
Made a PR to fix it

Also `Player` wasn't wasn't available, didn't know where you got that from¿

[2017-04-22 19:28] rafa8626 commented on #23
My apologies I had a typo. I'll review your PR and merge it. Thanks for testing this and helping me with this

[2017-04-22 19:32] jimmywarting commented on #23
No worries, I'm glad I can help

[2017-04-22 21:26] openbayou commented on #31
Is there a way to set the audio on the player at 5 or 50% when the player starts in the player settings?

	new MediaElementPlayer('audio-player', {
    autoRewind: false,
		features: ['skipback','playpause','jumpforward','current','progress','duration','speed','volume']
    });

[2017-04-23 19:31] jimmywarting commented on #2
better to use localstorage then cookies

[2017-04-23 23:16] rafa8626 commented on #31
You can set it up specifying the number of seconds from which it will start playing using `#t` with the number of seconds media should start with:
[code]
or you can use the `success` callback, and `setCurrentTime` method inside of it.
[code]

[2017-04-23 23:16] #31 closed

[2017-04-23 23:23] openbayou commented on #31
startVolume: 0.5,

found it

[2017-04-23 23:24] rafa8626 commented on #31
I got confused somehow with the position of the player, rather than the audio. My apologies. I'm glad you found it

[2017-04-24 11:19] jimmywarting commented on #23
How is the Chromecast coming along? Any progress?

[2017-04-24 11:30] rafa8626 commented on #23
There has been new attempts but I really need to redesign something on the main player to achieve the proper result. It's more complicated than I thought but I'm on that. I'll let you know when I have the new branch on the other repo ready

[2017-04-25 14:02] rafa8626 commented on #23
@jimmywarting Just FYI, I almost have Chromecast ready. I need to test it tonight, but the tests I ran today showed that it was working as expected. I'm adding a layer to display poster and the name of the device is being casted. If you wanna go ahead and test it right now I'll push it. I don't have a Chromecast here to validate all the changes I made, but if you can help me with that I'd apprecia

[2017-04-25 14:09] jimmywarting commented on #23
I can test it when i get home approximately in 2 to 3 hours

[2017-04-25 14:21] rafa8626 commented on #23
OK sounds good. Keep me posted please. And again, I don't have a Cast device here to check the last changes I made so potentially I could have made a mistake. Just download the latest version of the branch for this please

[2017-04-25 14:57] rafa8626 commented on #23
Nm. I need to rework one last piece before you test it @jimmywarting I'll send you tomorrow an status of this. Thanks and sorry for the incovenience

[2017-04-25 20:46] rafa8626 commented on #23
@jimmywarting You can test it now. I have solved all but 2 things here:
- If you don't push the button for Chromecast, and try to play the video on the website, it doesn't play
- Need to test more when switching media sources

If you have any clues or ideas on how to solve these 2 items, let me know. I need to step back some since I'm being so involved that I need a second opinion

[2017-04-25 21:11] jimmywarting commented on #23
A lot has changed in the plugin from last time.
A complete new renderer.
That's new to me.

I tested it the demo and were presented with a video without a poster,
trying to play the bunny video didn't work. nothing happens

[2017-04-25 21:18] rafa8626 commented on #23
Yeah that's what I still need to figure out how to fix it since it's like basically having 2 players in one, but I tested it connecting to Chromecast and it worked for me

[2017-04-25 21:27] jimmywarting commented on #23
Yea, it worked for me too. when i connected to it
Would it be possible to have the chromecast always visible?

removing:
[code]

[2017-04-25 21:35] rafa8626 commented on #23
OK I can remove it

[2017-04-25 21:38] rafa8626 commented on #23
The only issue is that if the plugin doesn't detect a Chromecast device, it won't show up the button

[2017-04-25 22:34] rafa8626 commented on #23
I fixed some typos. And if you connect and then disconnect, it will work as expected. I just need to figure out what to do when you haven't connected at all properly

[2017-04-25 23:26] rafa8626 commented on #23
@jimmywarting I fixed the first issue completely. It should now work as expected. My last task would be to check when loading new sources and see if the method does it correctly. Please test the latest changes on the branch and let me know. If you wanna add any PRs you are welcome to do it. Thanks

[2017-04-26 11:30] rafa8626 commented on #23
@jimmywarting Once you finish testing Chromecast branch, can you just take a quick look to the AirPlay branch, please? I completed the changes for the button status color and with that I can merge it into the master branch. Let me know how the Chromecast plugin worked for you. I'll be checking the addition of `Tracks API` in Chromecast as well to close the loop on this.

[2017-04-26 19:25] jimmywarting commented on #23
Took a quick glance, Looks good

[2017-04-26 19:27] rafa8626 commented on #23
Great. I just need to finalize the tracks implementation (which is almost done) and more documentation and it will be merged in master. Thanks for testing this

[2017-04-26 21:02] jimmywarting opened #33 "choose quality"
source choser wasn't really what i was looking for...
it only allows switching source. not changing the quality in a one dash or hls stream that has multiple sources in one

[2017-04-26 21:09] jimmywarting commented on #23
question: why do you use thumb instead of poster?
[code]

[2017-04-26 21:23] rafa8626 commented on #23
I just saw an example and you could have the poster image for the static player and a thumbnail for the cast. I don't know if that's standard or not. I can always remove the thumbnail and only use the poster of needed. Let me know

[2017-04-26 21:25] rafa8626 commented on #33
That plugin hasn't been developed yet. #1 reported the desire of having that feature, but I haven't started it. Closing this as considered a duplicate of the ticket mentioned before

[2017-04-26 21:25] #33 closed

[2017-04-27 06:29] jimmywarting commented on #23
This is only my theory, but I think many will use the same poster as the thumbnail.
I know I would

[2017-04-27 06:35] rafa8626 commented on #23
OK, changing that, I think the plugin is ready. On a second iteration I'll integrate tracks but I need to know more details about this. So please test the latest version of the branch one more and let me know so I can merge this in the master branch. Thanks

[2017-04-28 06:25] liyufeng1983 opened #34 "Uncaught TypeError: Cannot read property 'hasOwnProperty' of undefined"
mediaelement-and-player.js:8808 Uncaught TypeError: Cannot read property 'hasOwnProperty' of undefined
    at http://ecfd13.pfizer.com/sites/KAMCoE/SiteContent/js/VideoJs/build/mediaelement-and-player.js:8808:11
    at Array.forEach (native)
    at http://ecfd13.pfizer.com/sites/KAMCoE/SiteContent/js/VideoJs/build/mediaelement-and-player.js:8807:6
    at Object.27.2 (http://ecfd13.pfizer.com/sites

[2017-04-28 10:20] rafa8626 commented on #34
If you can provide a URL so I can check this issue I'd appreciate it. Thanks

[2017-04-28 10:53] rafa8626 commented on #23
@jimmywarting Are you good with merging the branch into master? I tried to enable captions before doing this but seems that there's an error setting them and I reported this to Google. So for now it will work without captions. Does that sound good?

[2017-04-28 11:05] jimmywarting commented on #23
Sounds good to me

[2017-04-28 11:09] rafa8626 commented on #23
Excellent. Thanks a lot for your help. I'll keep you posted when captions are working. Closing this ticket since it

[2017-04-28 11:09] #23 closed

[2017-04-28 13:10] ahushh opened #35 "source-chooser doesn't work on Safari 10.0.3"
Safari replaces all elements inside `<video>` with 'Shadow Content (User Agent)'.
[code]
Children is empty here therefore sources too.

[2017-04-28 13:11] rafa8626 commented on #35
Thanks for reporting this. I'll proceed to fix this on the plugin. This workflow was added due to an accessibility issue in Safari. I'll keep you posted when fixed.

[2017-04-28 14:05] rafa8626 commented on #35
@ahushh Can you download the master branch and test again please?

[2017-04-28 14:52] ahushh commented on #35
It works, but title attribute is ignored. Can it be fixed?

[2017-04-28 14:53] rafa8626 commented on #35
Download the master branch of `MediaElement`, it already has that fix.

[2017-04-28 14:57] rafa8626 commented on #35
Let me know if it worked for you

[2017-04-28 15:01] ahushh commented on #35
I'm using master branch and source title is missing.
[code]
`src.title` is undefined.

[2017-04-28 15:03] rafa8626 commented on #35
The master branch of the player itself (https://github.com/mediaelement/mediaelement), not this one, has the fix for the `title` attribute

[2017-04-28 15:09] ahushh commented on #35
Yes, it works, thanks!

[2017-04-28 15:09] #35 closed

[2017-04-28 15:10] rafa8626 commented on #35
Glad to know it worked. Please star us to continue giving the package more popularity, and also tell your friends/coworkers/etc. to support the project, if you don't mind. Also, if you can star us at https://github.com/mediaelement/mediaelement, it would be greatly appreciated it

[2017-05-01 15:20] bkolo opened #36 "Example setup of Vast/VPAID plugin"
It would be helpful to see an example or sample code of the vast/vpaid plugin working.

I have tried setting the vastAdsType, vastAdTagUrl as well as adsPrerollMediaUrl[] but the best I could get was the ad plugin calling the vast ad and raising an error "Uncaught (in promise) DOMException: The element has no supported sources".

regards,
Bob

[2017-05-01 15:54] rafa8626 commented on #36
You need to use both `ads` and `vast-vpaid` plugins: the first one has the logic needed to process the VAST/VPAID entries, and the latter processes the XML and generate the entries. In your configuration, you'll need just to indicate:
[code]
It's difficult for me to add an example because I haven't found public VAST or VPAID URLs. Let me know if it works for you the way I described. Thanks for usi

[2017-05-01 16:07] bkolo commented on #36
I understand.  No worries.    So here is a snippet of your demo example, with the ads and vast-vpaid plugins added along with the vastAdTagUrl set to an example vast ad I found in comment in ads source code.   The player does not attempt to load the AdTag so I think I am missing something obvious.

I added features : [ads,  'vast-vpaid'].  (Also tried ads-vast-vpaid to follow naming convention of

[2017-05-01 16:17] rafa8626 commented on #36
After `ads` use `vast` only

[2017-05-01 16:22] bkolo commented on #36
Ok. That did the trick to load the ad.
I am getting some undefined errors, with my vpaid ad tag, but will try to pinpoint the next set of issues more clearly.

thanks!!!

[2017-05-01 16:23] rafa8626 commented on #36
You are welcome. I'm glad it worked for you.

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don't mind.It would be greatly appreciated it

[2017-05-01 17:09] bkolo commented on #36
Here is an ad tag that works with your plugin:
http://search.spotxchange.com/vast/2.00/79391?VPAID=1&content_page_url=test.com&cb=3202405928168446&player_width=300&player_height=250

However, the majority of ad tags now look like:

<MediaFiles>
<MediaFile delivery="progressive" width="1" height="10" type="application/javascript" apiFramework="VPAID">
<![CDATA[https://cdnx.tribalfusion.com/media/co

[2017-05-01 17:10] rafa8626 commented on #36
I can't see the ad tags new structure that you indicated above.

[2017-05-01 17:13] bkolo commented on #36
[https://a.tribalfusion.com/v.vast?site=internetvideoarchive_AdoTube&adSpace=internetvideoarchive_adotube_html5_test&ad_type=preroll&vpaid=1&rtb=0&p9_param1=&p9_param2=&p9_param3=&url=&ppd=&platform_version=vast20html5&cb=59076c35428bc0.75593526](url)

I shouldn't call it new, but now that vpaid/flash is almost extinct,  vpaid ads are referencing .js instead of .swf as they are more cross platform

[2017-05-01 17:15] rafa8626 commented on #36
Do you happen to know which version this VAST URL is?

[2017-05-01 17:18] bkolo commented on #36
This is Vast 2.0 still.
The main difference is in the Creatives > Creative > Linear > MediaFiles >
MediaFile

<MediaFile delivery="progressive" width="1" height="10" type="
application/javascript" apiFramework="VPAID"><![CDATA[
*https://cdnx.tribalfusion.com/media/common/richmedia/html5/3.4.2-1/js/*
vpaid.js
<https://cdnx.tribalfusion.com/media/common/richmedia/html5/3.4.2-1/js/vpaid.js>
 *]]>*</M

[2017-05-01 17:20] rafa8626 commented on #36
And those JS should be instantiated at the end of body? I'm just not familiarized with that structure

[2017-05-01 17:30] bkolo commented on #36
Sorry, I am not certain whether it is instantiated at end of body or not.
Here is an example page.
http://mailonline.github.io/videojs-vast-vpaid/index_5.html

[2017-05-01 17:38] rafa8626 commented on #36
OK I may need to take a further look at this. I haven't dealt with those tags and IDK what is the role of those JS files. But I'll keep you posted

[2017-05-02 03:20] thisanimus opened #37 "Chromecast - Unable to cast when video is already playing."
The chromecast plugin is an excellent addition, thanks for your work.  I have noticed two related behaviors:
1) Unable to cast 'on the fly' when video is already playing.
2) Unable to begin from the middle of a video.
Both of these cases results in the grey screen with the little blue chromecast icon, but no video.

For observation purposes:
https://anchored.countrysidebible.org/?lesson=the-inerra

[2017-05-02 03:23] rafa8626 commented on #37
Thanks for reporting this. I'll take a look at this for sure and keep you posted

[2017-05-02 12:49] rafa8626 commented on #37
@thisanimus I've done some work on the plugin; if you download the master branch of this project and test it, let me know if it worked for you. If not, I'd ask you to give me specific steps in order to reproduce this, please. Thanks

[2017-05-03 19:04] rafa8626 commented on #34
Closing this issue since no response has been posted on the past week. If you want this to be reopened, please let us know. Thanks

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don

[2017-05-03 19:04] #34 closed

[2017-05-05 08:02] leocaseiro opened #38 "Set marker width"
I was wondering if we could enable some more styling for markers such as width or any other suggestions.

I'm happy to send a PR for this.

[2017-05-05 10:17] rafa8626 commented on #38
You are welcome to send PR for this :)

[2017-05-05 10:17] rafa8626 commented on #37
Any updates on this?

[2017-05-07 13:28] mzen1 opened #39 "blocking Global Options drop down menu"
how to get rid of Global Options drop down menu without deleting audioplayer styles? for multiple players on page.

[2017-05-07 14:15] rafa8626 commented on #39
Can you expand on this? What drop down menu are you talking about?

[2017-05-07 14:29] mzen1 commented on #39
this: http://zenonedesign.com/HTML5/demo/index.html
i want multiple players on a page, but when I try to delete the Global Options dropdown section i lose all styling and conditional stopping/playing. the var "lang" is tied into all the styling?i just want the audioplays with no drop down, like almost here: http://zenonedesign.com/HTML5/demo/indexMZ2.html

[2017-05-07 14:30] rafa8626 commented on #37
Closing this issue since no answer has been posted on a week. If you would like this to be reopened, let us know. Thanks.

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don't mind.I

[2017-05-07 14:30] #37 closed

[2017-05-07 14:33] rafa8626 commented on #39
Yes you just need this piece of code, rather that the entire content of demos.js file:
[code]

[2017-05-07 14:33] rafa8626 commented on #39
Let me know if it works for you

[2017-05-07 14:41] mzen1 commented on #39
yes! thank you so much Raphael!!

[2017-05-07 14:44] rafa8626 commented on #39
Glad it worked for you.

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don't mind.It would be greatly appreciated it

[2017-05-07 14:44] #39 closed

[2017-05-07 14:45] mzen1 commented on #39
okay, will do. thanks again!

[2017-05-08 08:09] lebanggit opened #40 "Control bar show event"
I having try develop a plugin with simple download button. It will embed on top-right corner of mejs player.

I will show/hide when user hover to player (like control bar).

Please add event of this.

[2017-05-08 09:43] jimmywarting commented on #40
Why not add it to the media bar at the bottom?

[2017-05-08 10:14] lebanggit commented on #40
All Feature icons on media bar.... Very tangled

[2017-05-08 10:24] rafa8626 commented on #40
@lebanggit This event exists already, but it must be attached to the media's `container` element:
[code]
Let me know if it works for you

[2017-05-08 13:59] lebanggit commented on #40
@rafa8626: How to implement this on the buildxxx function in the plugin?

How can i get media object?

[2017-05-08 14:01] rafa8626 commented on #40
[code]

[2017-05-08 15:02] lebanggit commented on #40
Great!!! Success. But this button just working after media playing....

@rafa8626 : You should add a top bar controls container like media controls.

It contain share, download, report button..... and title of video

![](http://lebang.vn/docs/mejs.jpg)

[2017-05-08 15:17] lebanggit commented on #40
mejs__overlay mejs__layer mejs__overlay-play

Is top layer and width 100%, height 100%.

When media stop, all control behind not woking.

[2017-05-08 15:27] rafa8626 commented on #40
You might want to include the alwaysShowControls: true configuration; see if that works for you

[2017-05-08 15:34] lebanggit commented on #40
Not working..

Maybe set height of mejs__overlay-play

![](http://lebang.vn/docs/me2.jpg)

[2017-05-08 15:39] rafa8626 commented on #40
If you can share the URL so I can take a look I'd appreciate it

[2017-05-08 15:55] lebanggit commented on #40
http://demo.lebang.vn/embed.html

Focus the **Download** button

[2017-05-08 16:45] rafa8626 commented on #40
Just set `mejs__top_controls` class `z-index` to 5, and that should do it

[2017-05-08 16:49] lebanggit commented on #40
Wow..... great.... resolved

[2017-05-08 16:52] #40 closed

[2017-05-08 16:53] rafa8626 commented on #40
Glad to know that.

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don't mind.It would be greatly appreciated it

[2017-05-09 00:31] FrancoJoaquinTorres opened #42 "ChromeCast not work in Google Chrome for android"
Hello, I'm trying ChromeCast plugin for Android devices (smartphone, tablet), but this does not show to send to ChromeCast through the Chrome browser, only work in PC

[2017-05-09 03:47] rafa8626 commented on #42
Thanks for reporting this. I'll try to find an Android device to check this. Did you have any errors on the console?

[2017-05-09 21:52] lebanggit opened #43 "Need demo about ads, context-menu"
I have try but it not working....

@rafa8626 : Please push one demo about this?

[2017-05-10 00:46] rafa8626 commented on #43
Ok I'll work on putting an Ad on the main demo for this repo this week

[2017-05-10 13:19] rafa8626 commented on #43
@lebanggit Demo file has been updated; please check master branch and let me know. Context Menu has some issues so I didn't include it. But I will once I solve those issues. Thanks.

[2017-05-10 13:19] #43 closed

[2017-05-10 22:59] FrancoJoaquinTorres commented on #42
I can not see the console in the chrome browser for Android. However, the ChromeCast icon is not visible when trying to watch a video.

[2017-05-10 23:04] rafa8626 commented on #42
Yeah I noticed that too. Do you mind asking on the Chromecast forum about this issue using a sender in a web app run in Android please? I'm dealing with another issue related to tracks not being played

[2017-05-10 23:12] rafa8626 commented on #42
I'm not sure why the isAvailable variable in the code is false on mobile devices that's the key to solve this issue

[2017-05-10 23:46] FrancoJoaquinTorres commented on #42
Thanks @rafa8626 the problem resolve when var loadedCastAPI = true;

[2017-05-11 00:00] FrancoJoaquinTorres commented on #42
@rafa8626 Where in the code is that?

[2017-05-11 01:41] rafa8626 commented on #42
Check https://github.com/mediaelement/mediaelement-plugins/blob/master/dist/chromecast/chromecast.js#L472 and let me know your thoughts, please. Thanks

[2017-05-11 02:52] FrancoJoaquinTorres commented on #42
@rafa8626 i think from here https://github.com/mediaelement/mediaelement-plugins/blob/master/dist/chromecast/chromecast.js#L572 to here https://github.com/mediaelement/mediaelement-plugins/blob/master/dist/chromecast/chromecast.js#L575 should be out of here https://github.com/mediaelement/mediaelement-plugins/blob/master/dist/chromecast/chromecast.js#L469

[2017-05-11 03:12] rafa8626 commented on #42
The thing is that in the code samples they provide they indicate that that call should be made before  the script gets called. Have you tried doing what you stated above with success? I just don't have a device to try this

[2017-05-11 11:09] rafa8626 commented on #36
Just as an FYI I'm working on improving the VAST plugin; I don't like the idea of supporting Flash but I'll definitely work on supporting JS from the tags. If you have any more samples I can use to test this I'd appreciate it. Also the plugin should support VAST 2 and 3 and VPAID

[2017-05-11 18:32] rafa8626 commented on #43
@lebanggit Just FYI the context menu should be working now and it's integrated on the demo file

[2017-05-12 11:21] arkytn opened #44 "WordPress Plugin CSS not loading for HTTPS"
In the WordPress plugin WP_PLUGIN_URL is used to load the CSS etc. Because it is a const it can not follow a change from http to https. The browser rejects it as cross-protocol.

Fix is easy. Replace all occurances of "WP_PLUGIN_URL" with the function "plugins_url()'

https://wordpress.org/ideas/topic/wp_plugin_url-doesnt-take-ssl-into-account

[2017-05-12 11:22] rafa8626 commented on #44
I'm sorry how does this issue has a relation with this repo?

[2017-05-12 11:34] arkytn commented on #44
The WP plugin

MediaElement.js - HTML5 Audio and Video
https://wordpress.org/plugins/media-element-html5-video-and-audio-player/

referenced this url as the home page.

http://mediaelementjs.com/

At the bottom of the page you are referenced as the maintainer.

Sorry if it's the wrong spot. Wherre should I post it.

On Fri, May 12, 2017 at 7:22 AM, Rafael Miranda <notifications@github.com>
wrote:

[2017-05-12 12:08] rafa8626 commented on #44
Oh I see. Unfortunately that plugin is completely out of date. The part I maintain is part of WP core. This plugin should be removed and I'm not familiarized with it

[2017-05-12 12:10] rafa8626 commented on #44
Also, consider that the version that might be used for that plugin is way outdated, and that might cause you more issues, so I'd recommend you to upgrade your WP to get a more recent version

----------
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell yo

[2017-05-12 12:10] #44 closed

[2017-05-12 15:20] skoften commented on #22
Hi rafa,

Looks like the player still doesn't parse/read VAST 3.0 feeds.

Feed: https://ad.360yield.com/advast?p=723265&w=4&h=3
Screenshot;
![screen shot 2017-05-12 at 17 18 40](https://cloud.githubusercontent.com/assets/1286410/26004785/4a1e30c4-3737-11e7-8622-a7871740f417.jpg)

VAST 2.0 works fine.

[2017-05-12 15:26] rafa8626 commented on #22
Thanks I'll check this in a minute

[2017-05-12 15:39] skoften commented on #22
I also have another feed (2.0) that doesn't seem to work:

https://secure.adnxs.com/ptv?id=10256154

[2017-05-12 16:49] rafa8626 commented on #22
I know the first one will need some work; but the second one IDK what's the issue. It's returning me only `<VAST version="2.0"></VAST>` with nothing inside it.

[2017-05-12 17:11] rafa8626 commented on #22
I'm currently working on expanding the plugin to support AdsVastURI and JS files as MediaFiles. I'll keep you posted when it's done

[2017-05-12 17:12] rafa8626 commented on #36
Also include #22 in this thread

[2017-05-13 22:18] lebanggit opened #45 "Context-menu not working in fullscreen mode"
@rafa8626 Please check it

[2017-05-14 01:43] rafa8626 commented on #45
Thanks I'll check it and keep you posted

[2017-05-15 04:23] rafa8626 commented on #45
This is working now on fullscreen. Thanks for reporting this

[2017-05-15 04:23] #45 closed

[2017-05-15 05:00] rafa8626 commented on #42
Any updates with this?

[2017-05-15 17:28] joelkraft opened #47 "Skip-back feature broken"
Installing the skip-back feature in a mediaelement player, then clicking the skip-back icon fires this error:
`Uncaught TypeError: Failed to set the 'currentTime' property on 'HTMLMediaElement': The provided double value is non-finite.`
The video does not skip back.

I have a pull request ready to go for this issue.

[2017-05-15 17:29] rafa8626 commented on #47
I'll be happy to review it if you submit it. Thanks

[2017-05-15 17:38] rafa8626 commented on #47
Closing issue since fix has been merged. Thanks for reporting this

[2017-05-15 17:38] #47 closed

[2017-05-16 04:36] rafa8626 commented on #47
Please star us at https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. to support the project, if you don't mind.It would be greatly appreciated it

[2017-05-16 15:18] rafa8626 commented on #38
Any updates on this?

[2017-05-17 07:50] leocaseiro commented on #38
Sorry for my delay, I've just sent you a PR.

[2017-05-17 10:20] #38 closed

[2017-05-17 10:23] rafa8626 commented on #38
No worries. PRs accepted. Thanks for your work

[2017-05-17 19:32] rafa8626 commented on #1
@jimmywarting The branch `media-qualities` has now this feature integrated. If you can test it so I can merge it into the master branch, I'd appreciate it. Thanks

[2017-05-18 16:17] jonathanex opened #51 "'Jump Forward' plugin allows you to skip ads"
Hi,

The update in 2.2.1 to stop interacting with progress/jump buttons while an ad is playing is great - but I think there may be an issue when used with the Jump Forward plugin too.

As the code to disable the buttons runs as part of the function adsPrerollStarted, it's possible before you start playing to press the 'Jump Forward' button, and it'll start playing further in (or skip the ad comple

[2017-05-18 16:19] rafa8626 commented on #51
As long as the call is done inside the Ads plugin, I really don't foresee any effects. I'll be happy to review your PR if you submit it. Thanks

[2017-05-18 16:43] rafa8626 commented on #51
Closing issue since fix has been merged

----------
Please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. that have a GitHub account to do the same to support the project, if you don't mind. It would be greatly appreciated it.

[2017-05-18 16:43] #51 closed

[2017-05-19 19:56] tnapoleon74 opened #53 "HLS Support in Chrome Browsers"
When trying to access a HLS stream (.m3u8) in Chrome via API get Uncaught (in promise) DOMException: Failed to load because no supported source was found when trying to set the SRC variable.

Example:

http://download.alldigital.net/00000001/00000001/MCWE/player/mediaelement-mediaelement-d7843f9/demo/player_24.html

May want to have simple sample that includes promise set up required for newer Chr

[2017-05-19 20:27] rafa8626 commented on #53
I didn't get that error when checking your website; I used Chrome latest version on Mac
<img width="1375" alt="screen shot 2017-05-19 at 4 26 29 pm" src="https://cloud.githubusercontent.com/assets/910829/26265669/08a89c00-3cb0-11e7-8977-0767e24575e9.png">

[2017-05-19 20:33] rafa8626 commented on #36
@bkolo and @skoften I'd like to implement Google IMA SDK for this but it's still on Beta. Let's wait so they have support for 3.0 to make the migration to this library

[2017-05-22 02:49] rafa8626 commented on #53
Please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. that have a GitHub account to do the same to support the project, if you don't mind. It would be greatly appreciated it.

[2017-05-23 06:18] joelmanx opened #54 "Speed plugin not work"
my code javascript:
`var player= new MediaElementPlayer('reproductor', {
			stretching: 'stretching',
            alwaysShowControls: true,
            defaultSpeed: 0.5,
            tracksText:'Acordes y Notas de la cancion',
            startLanguage:'en',
            features: ['playpause', 'current', 'progress', 'duration', 'speed', 'skipback', 'jumpforward', 'tracks',
			'markers', 'volume',

[2017-05-23 10:20] rafa8626 commented on #54
[code]
and you MUST add the player; otherwise, it won't work
[code]
Let me know if this worked for you

[2017-05-23 14:44] joelmanx commented on #54
yes, already added, only that I do not showed the code
`<script src="<?=base_url()?>mediajs/mediaelement-and-player.min.js"></script>
    <script src="<?=base_url()?>mediajs/renderers/dailymotion.min.js"></script>
    <script src="<?=base_url()?>mediajs/renderers/facebook.min.js"></script>
    <script src="<?=base_url()?>mediajs/renderers/soundcloud.min.js"></script>
    <script src="<?=base_url()

[2017-05-23 17:50] rafa8626 commented on #54
That parameter is only if you need to support Flash; if not, it's not really needed. If you are good with this answer, can you please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity? Also, tell your friends/coworkers/etc. that have a GitHub account to do the same to suppo

[2017-05-23 21:12] joelmanx commented on #54
Not working yet, still with the that you said me, already added the js files of speed plugin and css style files, and added the parameter

I am testing in the Opera, Firefox an Chrome browsers, in lasted versions, Do you have any example? please.

I am going to promove your project, i am making a work synchronising the player video with chords of guitar using canvas html5

[2017-05-23 21:13] rafa8626 commented on #54
Please share a URL so I can take a look

[2017-05-23 21:20] joelmanx commented on #54
I am working in localhost mode, but I will upload in a hosting server, and I will pass the url, thanks for your help

[2017-05-23 23:28] umh commented on #53
Hi,

Im having the same issue with desktop,  VAST works good on ios and android, but on desktop it plays the ad, but does not play the trailing m3u8 stream.  Please check https://goo.gl/Wh94gf

[2017-05-23 23:31] umh opened #55 "HLS VAST Uncaught (in promise) DOMException: Failed to load because no supported source was found when trying to set the SRC variable."
Hi,

Im having an issue, with desktop,  VAST works good on ios and android, but on desktop it plays the ad, but does not play the trailing m3u8 stream and throws the error Uncaught (in promise) DOMException: Failed to load because no supported source was found when trying to set the SRC variable.. If we disable vast, the m3u8 stream plays fine.  Please check https://goo.gl/Wh94gf

[2017-05-24 00:52] rafa8626 commented on #55
For starters, your manifest is throwing a 403, so just because of that it won't play at all. Check that and you should be fine
<img width="738" alt="screen shot 2017-05-23 at 8 51 40 pm" src="https://cloud.githubusercontent.com/assets/910829/26382361/bce4f0b4-3ff9-11e7-92ab-5050853098c9.png">

[2017-05-24 17:29] umh commented on #55
hi, when we play same stream without VAST, it works fine:
https://goo.gl/VTt3Ol

when we play a different stream with vast, it behaves the same way:
https://goo.gl/1fJqob

[2017-05-24 19:35] rafa8626 commented on #54
OK thanks let me know when you have the URL ready

[2017-05-24 22:32] #1 closed

[2017-05-24 22:32] rafa8626 commented on #1
Branch merged into master.

[2017-05-24 22:34] rafa8626 commented on #55
@umh Please download the master branch and test this again; you should be good now. Let me know and please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. that have a GitHub account to do the same to support the project, if you don't

[2017-05-24 23:09] rafa8626 commented on #53
@tnapoleon74 Any updates on this? @umh please see comments on #55

[2017-05-26 14:08] jimmywarting opened #56 "[chromecast] seems to registerElement multiple times"
I got a single page website, so when I create a new player i get this error:

[2017-05-26 14:15] jimmywarting opened #57 "[chromecast] trying to parse mimetype from url when there is none"
I'm creating a player first without a source and getting this error:

The reason is cuz i have not put any src on the video yet.
I'm doing it afterwards since i need multiple sources `player.setSrc([...])`

[2017-05-26 14:19] jimmywarting commented on #57
[code]

[2017-05-26 14:34] rafa8626 commented on #56
Can you send me a URL to check this please?

[2017-05-26 15:27] jimmywarting commented on #56
https://jsfiddle.net/Luuwnjfm/

[2017-05-28 21:02] rafa8626 commented on #54
Any updates with this?

[2017-05-28 21:03] rafa8626 commented on #42
Closing this issue since no answers have been posted in more than 2 weeks. If you want this to be reopen, let us know. Thanks. Please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. that have a GitHub account to do the same to suppor

[2017-05-28 21:03] #42 closed

[2017-06-01 02:08] rafa8626 commented on #56
It can only be one sender per page; I implemented something that might help you:
https://jsfiddle.net/Luuwnjfm/5/

Let me know your thoughts

[2017-06-01 02:17] rafa8626 commented on #53
Closing this issue since no answers have been posted in more than a week; if you like this to be reopened, please let us know. Thanks

[2017-06-01 02:17] #53 closed

[2017-06-01 02:18] rafa8626 commented on #55
Closing this issue since no answers have been posted in more than a week; if you like this to be reopened, please let us know. Thanks

[2017-06-01 02:18] #55 closed

[2017-06-01 02:19] rafa8626 commented on #54
Closing this issue since no answers have been posted in more than a week; if you like this to be reopened, please let us know. Thanks

[2017-06-01 02:19] #54 closed

[2017-06-01 02:44] rafa8626 commented on #57
@jimmywarting I think this is fixed now; please download the master branch and let me know. Thanks

[2017-06-01 06:36] jimmywarting commented on #56
Can use that

But I Think this will be a recurring issue among others so I think it would be best if built in to the plugin

[2017-06-01 10:31] rafa8626 commented on #56
Please download the master branch; I was able to put a restriction so only one sender per page is now allow and you can use https://jsfiddle.net/Luuwnjfm/1/ without any hacks. Let me know

[2017-06-01 19:32] jimmywarting commented on #56
Works

[2017-06-02 03:25] rafa8626 commented on #56
I'm glad it worked for you

[2017-06-02 06:33] jimmywarting commented on #56
Hmm, didn't work where we'll

The Chromecast don't appear after I set a video source. And the check for the button makes it never appear cuz it's always true?

[2017-06-02 10:03] rafa8626 commented on #56
I'll check this on your scenario; do you have a fiddle that I can use for testing scenario?

[2017-06-02 11:09] jimmywarting commented on #56
If you get [this fiddle](https://jsfiddle.net/Luuwnjfm/7/) to work without modification then i think you have solved both my Chromecast bugs

 - The video source should be possible to set after you have initiated a MediaElementPlayer and you got yourself a visible ChromeCast icon
 - The google-cast-button shouldn't throw an error when initiating a new MediaElementPlayer on the same page more then

[2017-06-05 04:07] rafa8626 commented on #56
@jimmywarting Can you try this Fiddle and check if that solves your issue? https://jsfiddle.net/Luuwnjfm/8/

[2017-06-09 10:11] #4 closed

[2017-06-09 10:12] rafa8626 commented on #56
Any updates on this?

[2017-06-09 10:24] rafa8626 commented on #57
Closing this to favor #56

[2017-06-09 10:24] #57 closed

[2017-06-10 16:12] rob030 opened #65 "mediaelement playlist works in previous version but not this version of mediaelement"
Hi
I am not sure whether I should post this here or on the main mediaelement download site. I see there is a plugin for a playlist here but not sure how to implement it.
On the previous version of mediaelement I had the following code, which I think I obtained from mediaelement resources.
HTML
[code]
I have looked at the documents, tried with demo.js(this works but I have no idea on how to use a l

[2017-06-10 16:54] jimmywarting commented on #56
The chromecast isn't available after I set a source

[2017-06-10 17:06] rafa8626 commented on #56
Hmmm I'll take a look at this again. It was working for me before

[2017-06-10 17:12] jimmywarting commented on #56
maybe that isn't the problem. `document.createElement('x-y').constructor === HTMLElement` is always equal to `true`

which makes [this](https://github.com/mediaelement/mediaelement-plugins/blob/master/src/chromecast/chromecast.js#L441) code return early without building the cast button

[2017-06-10 17:37] rafa8626 commented on #56
Hmmmm yeah I need to research how to check if the button has been truly registered, because I thought that would be enough. I'll keep you posted

[2017-06-10 21:24] Santana1053 opened #66 "Cannot set property 'mejs.ad-skip' of undefined"
[code]

[2017-06-10 23:20] Santana1053 commented on #66
WordPress uses version https://github.com/mediaelement/mediaelement/tree/2.20.0 and this is not compatible

[2017-06-11 12:49] rafa8626 commented on #65
@rob030 If you are using the latest version you should use:
[code]
because your code has a typo.
This is the code I tried and worked for me (FYI, you don't need jQuery for the player anymore):
[code]
Let me know if it works for you and please star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins to continue improving the package and giving

[2017-06-11 15:05] rob030 commented on #65
Hi Rafael,
That works very well. Days and days I have spent trying to sort this and the demo. You are a star. Thankyou very very much.
I really appreciate it.
Will definitely be starring both. When I have finished my project and all works well, mediaelement will be getting alot of publicity. I always use mediaelement for any websites that I built that require video.
Again, thanks Rafael
Cheers
Rob

[2017-06-11 15:05] #65 closed

[2017-06-11 15:07] rafa8626 commented on #65
Great. We really want more people to star the project. We don't ask for anything but that. If you can help us with that, that would be awesome. It is good to know that this worked for you. :)

[2017-06-11 17:26] thisanimus opened #67 "Live HLS over Chromecast"
I receive the following error when streaming a live HLS via the Chromecast plugin.
``chromecast.js:294 Uncaught (in promise) TypeError: mediaElement.originalNode.getCurrentTime is not a function
    at chromecast.js:294
    at <anonymous>
``

Prerecorded .m3u8 files stream via the chromecast plugin just fine.  It's only the live .m3u8 videos that are throwing this error.  I understand that a live

[2017-06-11 18:59] rafa8626 commented on #67
Can you provide a URL so I can see this issue? I'm currently working on fixing something related to it and might be good to integrate that fix as well

[2017-06-11 21:05] thisanimus commented on #67
I'll set up a test site tomorrow and post a link.

On Sun, Jun 11, 2017, 1:59 PM Rafael Miranda <notifications@github.com>
wrote:

[2017-06-12 03:16] rafa8626 commented on #56
@jimmywarting OK I think I finally got it; I added a new Fiddle so you can see the end result. Dealing with Chromecast is a little complicated so I'll be thinking in a better way to do this but for now you should get everything fine: https://jsfiddle.net/Luuwnjfm/13/. Let me know

[2017-06-14 15:45] rafa8626 commented on #56
@jimmywarting I have refactor MediaElement to integrate Chromecast inside the player and not as a plugin. If you can help me testing this, please test this Fiddle so it can be part of the next release: https://jsfiddle.net/Luuwnjfm/17/

[2017-06-14 16:07] rafa8626 commented on #67
Any updates on this? I finished a major refactor and I wanna test it with your issue to make sure we are all covered.

[2017-06-15 02:57] thisanimus commented on #67
Sorry for the delay.  Here is a test site using the latest release of mejs and mejs-plugins.

http://thisanimus.com/streamtest/demo/

[2017-06-15 04:49] rafa8626 commented on #67
I tried to reproduce it, but it returned a 403. I'm gonna ask you to test the development branch on the MediaElement project and let me know if everything works as you expected on that branch. You won't need the plugin anymore since Chromecast is integrated in the player core on that branch; you will just need to enable it via features using the keyword `chromecast`. Let me know your findings, ple

[2017-06-15 05:40] rafa8626 commented on #56
FYI i have completed more work to enable errors properly on the player UI but that should affect your testing. Keep me posted since I'm planning to release this week

[2017-06-15 21:18] thisanimus commented on #67
- Found another live stream that seems to be working now.
- Using the dev branch
- Get the following error when initiating the cast:

[code]

[2017-06-15 21:19] rafa8626 commented on #67
Thanks for testing this. I pushed earlier some changes/fixed to the dev branch if you can test this again I'll appreciate it.

[2017-06-15 21:27] rafa8626 commented on #67
Just as an FYI I may end up putting this as a plugin again but with the new approach I took. I'm just waiting for more tests and I'll proceed to do that because the file size increased quite a bit and I'd like to keep it as light as possible

[2017-06-16 01:09] thisanimus commented on #67
Thanks for your thoughtful approach.  It's because of this kind of discipline that MEJS is such a fantastic plugin. The quality of work you devs put into this project is mind-blowing.  Keep it up.

[2017-06-16 04:54] rafa8626 commented on #67
@thisanimus OK I have 2 new branches (one for the player and one for the plugins) named the same: `mejs-new`. Please test them using the following configuration for your scenario **INCLUDING chromecast.min.js**:
[code]
These new branches had addressed many issues in terms of integrating properly Chromecast and achieved the dual-nature of Chromecast and MediaElement. Let me know your findings and t

[2017-06-16 04:59] rafa8626 commented on #56
@jimmywarting I have 2 new branches (one for the player and one for the plugins) named the same: `mejs-new`. Please test Chromecast using them by enabling the `chromecast` feature inside your player's configuration:
[code]
 **You will need to include chromecast.min.js** after the `MediaElement` library:
These new branches had addressed many issues in terms of integrating properly Chromecast and ac

[2017-06-16 14:33] thisanimus commented on #67
Using mejs-new and mejs-new-plugins the .m3u8 won't play in-browser, it throws the following error:

[code]

[2017-06-16 14:34] rafa8626 commented on #67
Interesting I tested the same page you sent me last night with both branches. Let me take a pick again and I'll let you know

[2017-06-16 14:38] thisanimus commented on #67
This .m3u8 works:http://109.68.190.192:1935/WEB_Smilik/Smilik.stream/playlist.m3u8

This one throws the above error: https://content.uplynk.com/channel/bd25cb880ed84b4db3061b9ad16b5a3c.m3u8

[2017-06-16 14:38] rafa8626 commented on #67
Oh gotcha. Let me check this other one. The one above worked for me as well

[2017-06-16 14:39] thisanimus commented on #67
Malformed stream maybe?  It's from Verizon, so I would have expected that it would be standards-compliant.

[2017-06-16 14:41] rafa8626 commented on #67
It's very likely. But here's the thing: I checked this on the HLS.js website and this is the only thing I see:
<img width="893" alt="screen shot 2017-06-16 at 10 40 56 am" src="https://user-images.githubusercontent.com/910829/27231352-5d323642-5280-11e7-8f59-086621c3f914.png">
Maybe it's something with the HLS settings that need to be changed. Let me check that

[2017-06-16 14:46] rafa8626 commented on #67
In your player configuration, add this:
[code]
I think that will solve your issue

[2017-06-16 14:50] rafa8626 commented on #67
[code]

[2017-06-16 14:52] thisanimus commented on #67
No dice on the hls config, however setting preload="metadata" on the video tag makes it work.  And the chrome cast works as well.

[2017-06-16 14:54] rafa8626 commented on #67
Interesting. I'll explore some more about this scenario. I really appreciate your testing. Is there anything else that needs to be added to this ticket, or can be closed?

[2017-06-16 14:55] thisanimus commented on #67
Looks good to me.  When do you think megs-new will be merged into the main branch?

[2017-06-16 14:57] rafa8626 commented on #67
I just need to fix part of the behavior when using React, because there is a big issue using the plugin in combination with React, but I'll take a look at that today. Potentially, next week I'll release these changes on both branches

[2017-06-16 14:57] thisanimus commented on #67
Great, I'll keep my eyes open for it.  Thanks again for all your hard work!

[2017-06-16 14:59] rafa8626 commented on #67
You are welcome. I just want this player to be the best one; and with people like you testing, we only make it greater. I still don't know how to make it more popular (compared to VideoJS), but maybe its more about the website than the functionality of both

[2017-06-16 14:59] #67 closed

[2017-06-16 15:17] rafa8626 commented on #67
Just FYI, either you used `preload="meta"` or `preload="auto"` or use `autoplay` attribute, it will work in your scenario

[2017-06-20 03:03] KhodyrevDS commented on #1
Does quality plugin support dash renderer?

[2017-06-20 03:58] rafa8626 commented on #1
Yes it should

[2017-06-20 10:43] ManoAbraham commented on #56
@rafa8626 Thanks for your work. Testing your new code. I'm getting following tag for chromecast button `<button type="button" is="google-cast-button" aria-controls="mep_0" title="Chromecast" aria-label="Chromecast" tabindex="0" style="display: none;"></button>`
 style="display: none;" cause cast button to disappear. once it's removed rest works fine.
![image](https://user-images.githubusercontent.

[2017-06-20 11:02] rafa8626 commented on #56
The `display: none` remains there to make sure the Cast is found or not. It shouldn't be hidden once Cast is detected. Is that your scenario? I merged the `mejs-new` branch into master. Can you confirm this issue exists in master?

[2017-06-20 11:03] rafa8626 commented on #67
Just FYI, the new code is now on master branch. It will be officially released once I address one thing with ReactJS

[2017-06-22 08:26] KhodyrevDS opened #69 "Qualities selector does not disappear"
inEvents has added to qualitiesButton, but outEvents  has added to qualities-selector.

When mouse over qualitiesButton Qualities selector will be shown and when mouse leave button and not leave Qualities selector, Qualities selector will not disappear.

[2017-06-22 10:28] rafa8626 commented on #69
http://dev-portal.videonotion.com/web/p/watch?v=63840f91-b9b7-49dc-b552-a784b0622d39 has this issue correct?

[2017-06-22 10:49] KhodyrevDS commented on #69
It's old version MediaElement

[2017-06-22 10:50] rafa8626 commented on #69
Do you happen to know which version of the plugin you are using?

[2017-06-22 10:51] KhodyrevDS commented on #69
I downloaded https://github.com/mediaelement/mediaelement-plugins/tree/master/dist/quality

[2017-06-22 10:52] rafa8626 commented on #69
I see. I'll check this in the course of the day. Thanks.

[2017-06-23 11:20] rafa8626 commented on #56
Closing this issue since all issues related to Chromecast have been discussed and addressed on https://github.com/mediaelement/mediaelement/issues/2273

[2017-06-23 11:20] #56 closed

[2017-06-24 11:29] rafa8626 commented on #69
I have checked this, and it is expected behavior: if you leave the button but the cursor is still in the area where the options are displayed, they shouldn't go away. Once you select one, it will disappear. In your website you are using an old version of the `Source Chooser` package. I'll recommend you to upgrade to the latest version of both MediaElement and use the `Quality` plugin

[2017-06-24 11:29] #69 closed

[2017-06-26 10:18] rafa8626 commented on #66
Can you share a URL to check this issue please? This means that the i18n is not there and that's weird since MediaElement has it by default. If you are not using the player or the reference to the player is after the reference to the plugin that could be the cause of this

[2017-06-26 10:23] rafa8626 commented on #66
Please consider star both https://github.com/mediaelement/mediaelement and https://github.com/mediaelement/mediaelement-plugins on each repository by clicking on the Star button on the top right of the page, to continue improving the package and giving it more popularity; also tell your friends/coworkers/etc. that have a GitHub account to do the same to support the project, if you don't mind. It w

[2017-06-26 10:30] #3 closed

[2017-06-26 10:31] rafa8626 commented on #3
Closing this since no answer has been posted in months. If you want this to be reopened, please let us know. Thanks

[2017-06-30 10:14] #66 closed

[2017-06-30 21:11] sergioavazquez opened #70 "Handling Chromecast sessions in single page apps: "session_error""
I'm using React to build a single page app, and as I "re-mount" the player and cast I get different results. Sometimes it works, sometimes it doesn't. Sometimes it throws:

[code]

steps to reproduce:
- Mount Mediaelement player.
- Cast to a chromecast device.
- stop the cast and unmount the player.
- Mount Mediaelement player.
- Cast to a chromecast device.

I've been trying to clean up the cast

[2017-06-30 22:48] Santana1053 commented on #66
Sure, I've been working off localhost. Give me a little bit to setup a public facing development site that I can demo this issue for you.

[2017-07-01 00:48] rafa8626 commented on #70
Thanks for all these useful info. There's not a lot of sources on how to achieve this and I'll look more into Cast documentation but I have no idea how to remove the sessions since that's what I was trying to do originally. I'll keep looking and keep you posted. Thanks again

[2017-07-01 01:02] rafa8626 commented on #70
Can you do me a favor: in Chromecast.js create a method called cleanchromecast and put the code you use the code you set up to remove the current session and see if it does any good

[2017-07-01 01:11] rafa8626 commented on #70
Also take a look at this Fiddle and see if anything could work for you: https://jsfiddle.net/gurupras/sgLfcocq/

[2017-07-01 16:17] rafa8626 commented on #70
I fond this snippet and maybe that's the answer. Can you try using this?
[code]

[2017-07-03 14:43] sergioavazquez commented on #70
I had already tried the last snippet but I added it to cleanchromecast(), added it on unmounting and all combinations I could come up with. Regardless of how you end the session, if  you open chrome's console immediately afterwards, get the context instance (`window.cast.framework.CastContext.getInstance()`) and request a session (`session.requestSession()`), previous cast resumes. Apparently we n

[2017-07-03 15:10] sergioavazquez commented on #70
I tried creating a new context, since it's a singleton it should replace the previous one but apparently you cannot get a session from it so chomecast.js throws and error. Also tried to set up a castOption: `resumeSavedSession` to false but no luck...

[2017-07-04 02:24] rafa8626 commented on #70
Thanks I'll keep looking in the documentation about how to do this properly or I'll ask the question directly if I'm at lost

[2017-07-04 06:27] Santana1053 opened #71 "Vast Ad video autoplays on load"
The regular video is not set to autoplay. When the VAST xml is parsed and the ad is injected into the video it starts to autoplay.

Additionally, the regular video is available to start playing before the vast xml is returned and the ad injected. The canplay event is happening before my ad loads.

[2017-07-04 11:27] rafa8626 commented on #71
Thanks for reporting this. I'm planning to rework this plugin and I'll add this fixes as well soon. I'll keep you posted

[2017-07-04 15:57] gjonsson commented on #71
Yes, i noticed this also. after VAST is done the POSTROLL opens.

[2017-07-04 15:59] gjonsson opened #72 "After VAST is finished POSTROLL popup"
I noticed one issue in POSTROLL plugin. After VAST is done playing the POSTROLL opens over the actual video and i need to colse that.

[2017-07-04 17:17] rafa8626 commented on #72
Thanks for noticing this. I will check this soon

[2017-07-04 17:26] rafa8626 commented on #72
Do you have a URL where I can see this issue please?

[2017-07-04 20:04] Santana1053 opened #73 "Ads plugin error"
I'm not quite sure why this is happening, but the ad video is being shown below the youtube iframe, I believe that one of them is suppose to be hidden.

Also after the ad video is done playing, it throws a javascript error and fails to play the youtube video
[code]
http://ottumwaradio.maudience.com/watch-man-pinned-pickup-hitting-tractor/

[2017-07-05 04:09] Santana1053 commented on #73
![image](https://user-images.githubusercontent.com/10775656/27848845-ce889fde-610d-11e7-88a4-136c1d5d6e93.png)

[2017-07-05 04:42] rafa8626 commented on #70
@sergioavazquez I have updated the plugin with a missing workflow to avoid loading a request more than once, and destroying Cast session properly. Please download the master branch and let me know if it worked for you. I tested on my local ReactJS env and seemed to work just fine.

[2017-07-05 04:59] rafa8626 commented on #73
I'll explore this soon. Also, the rewriting of this plugin will solve this situation: YouTube plays on an iframe, and the Ad plays in a video tag, and they end up conflicting. That's why you are experiencing those issues

[2017-07-05 11:06] gjonsson commented on #72
I don't. but if you look at the code where the addEventListener is, it is told to trigger at 'ended' but that also then triggers at VAST video END. I just changed the code for me so it trigger at pause and then closes on play.

I changed this
t.media.addEventListener('ended', function () {
to
t.media.addEventListener('pause', function () {
.display = 'block';
and added another that
t.media.addEven

[2017-07-05 11:38] rafa8626 commented on #72
I see. I have to rework the Ads plugin completely to fix many issues that the users had pointed out. This will be part of the fixes as well. I'll keep you posted on any progress. Thanks

[2017-07-05 12:30] rafa8626 commented on #72
Please make sure you star both project to continue improving this plugin and the player. Thanks

[2017-07-05 14:38] Santana1053 commented on #73
My client really needs to get this functionality live, is there any temporary fix that I can do to get this to work?

[2017-07-05 14:39] rafa8626 commented on #73
I'll check what we can do temporarily and keep you posted

[2017-07-05 15:19] sergioavazquez commented on #70
@rafa8626 you nailed it! It's working like a charm...

[2017-07-05 15:19] #70 closed

[2017-07-05 15:20] rafa8626 commented on #70
Excellent news!! Thanks for testing this good team work

[2017-07-06 11:24] rafa8626 commented on #73
@Santana1053 Please download the master branch and test this again. Also, I noticed that in the `features` configuration you just included `vast`;  make sure you use `ads` and `vast` to avoid any other issues. Let me know if it worked for you. Thanks.

[2017-07-06 11:25] rafa8626 commented on #71
I checked the autoplay and that's expected functionality after the Ad finishes. The `canplay` is something I'll work during the refactor to ensure those events are linked to the original element only

[2017-07-06 13:36] Santana1053 commented on #73
Perfect, thank you.

Unrelated, would it be possible to show the youtube video thumbnail instead of the ad thumbnail?

[2017-07-06 13:39] rafa8626 commented on #73
If you are talking about the poster, you might need to set the specific one you desire via `poster` attribute on the video tag or in the configuration of the player. Other than that, it is not possible

[2017-07-06 14:48] Santana1053 commented on #73
Thank you for your quick responses and making this issue top priority

[2017-07-06 15:35] rafa8626 commented on #73
You are welcome I'm glad I could help you

[2017-07-18 05:17] KhodyrevDS opened #74 "Split controlbar settings and list of plugins"
If I want to add some plugin I cant set
`features: ['myplugin']`
because I will have no any controls and I must specify all default controls and my plugin
`features: ['playpause', 'current', 'progress', 'duration', 'tracks', 'volume', 'fullscreen', 'myplugin']`

It will be fine to split contolbar settings and list of used plugins.

[2017-07-18 18:17] rafa8626 commented on #74
Thanks for the suggestion I'll check how can this be integrated and keep you posted

[2017-07-19 22:24] billyeh opened #75 "Speed selector options hidden behind audio player"
![untitled](https://user-images.githubusercontent.com/2067277/28392293-2a1f3824-6c96-11e7-8fd3-339bd84d7d10.png)

You can see where my mouse is that the speed plugin selector isn't tall enough to display all the options.

Setting the `.mejs__speed-selector, .mejs-speed-selector` height to 150px instead of 100px fixes it.

[2017-07-20 12:56] rafa8626 commented on #75
Thanks I'll fix this as soon as I can. Please star the project to continue supporting it

[2017-07-20 13:00] rafa8626 commented on #75
Done. It has been fixed. Thanks again for reporting this and please star us to gave this repo more popularity

[2017-07-20 13:00] #75 closed

[2017-07-26 10:33] dannyconnolly opened #76 "Audio Player Ad support"
Is there any support for playing audio ads through the audio player? Maybe using something like Digital Audio Ad Serving Template (DAAST)?

[2017-07-26 18:05] rafa8626 commented on #76
Not currently. I need to rework the Ads plugin and I'll determine viability to add this into it. I'll keep you posted. Thanks

[2017-07-28 03:20] rafa8626 commented on #74
Sorry for the delay. Please download the master branch of the player. Now a `useDefaultControls` is set to false. If you set it to true, it will allow you to get the default control bar elements in strict order and then you can just append more plugins using `features`. Let me know if it worked for you and thanks for reporting this. Please star the project so we continue supporting it

[2017-07-31 16:19] sergioavazquez opened #78 "Can't cast HLS audio only"
I'm using the lastest versions of mediaelement and mediaelement-plugins and attempting to cast HLS radios to a chromecast device.

I had no problems casting HLS video, live and vod but whenever I cast a radio it doesn't work.

Reproduction stops on local machine, but it never seems to finish loading on the casting device.
Chunks keep being loaded and there are no errors on the console.

Any ideas

[2017-07-31 16:44] sergioavazquez commented on #78
Makes sense. It would be a great new feature though. I hope there's no need for it and you can find a way to make it work as it currently is! Good luck!!

[2017-08-01 12:15] rafa8626 commented on #78
OK I've checked this, and I added some more mime types to allow MP3 to be played; however, if I understood correctly, in order to play an audio HLS you need to give your receiver app that permission, and I don't think the default receiver allows you to do audio streaming. Check this page: https://developers.google.com/cast/docs/player, because that library also plays an important role for streamin

[2017-08-01 12:15] #78 closed

[2017-08-01 12:17] rafa8626 commented on #78
Please star this repo so we can continue supporting it. Thanks

[2017-08-01 12:28] sergioavazquez commented on #78
Thanks @rafa8626, I'm going to evaluate implementing it!

[2017-08-02 12:32] rafa8626 commented on #74
Closing this issue since feature is now in place. Thanks for reporting this and please star this project to continue supporting it

[2017-08-02 12:32] #74 closed

[2017-08-07 20:43] sergioavazquez opened #81 "Allow chromecast control over playlist - Almost working feature."
I downloaded the latest version of mediaelement-plugins, the npm version doesn't have the playlist folder on dist... I'm assuming it's because it's not updated it yet.

I found out a way to change channels using the playlist while casting to chromecast with a minor tweak.
On mediaelement-plugins/src/playlist/playlist.js line 171, the `player.load()` causes problems with chromecast's session.

I co

[2017-08-08 03:54] rafa8626 commented on #81
If you can provide me a URL so I can see your issue I'd appreciate it. The method is necessary otherwise it won't load the media (at least on my tests wit Mac OSX, without it doesn't work)

[2017-08-08 03:59] lee149205 opened #82 "quality plugin , group ?"
I have
[code]

But, it display 3 options ( “SD” , “HD”, “SD”)
How to group ? (only show 2 options "SD" , "HD")

[2017-08-08 04:08] rafa8626 commented on #82
The plugin is not ready to deal with grouping currently; the best for now is to come up with different names for your sources

[2017-08-08 04:15] rafa8626 commented on #82
If you are interested on creating a PR, I'd be happy to review it. Please star our projects to continue supporting them. Thanks

[2017-08-08 13:15] rafa8626 commented on #81
BTW I have reached Chromecast team because I have issues switching from one type to another. I didn't see any issues with the `player.load` when I set all my sources to video/mp4

[2017-08-08 13:15] #82 closed

[2017-08-08 13:37] sergioavazquez commented on #81
I'm using ubuntu and chrome. I've been meaning to get this done for a while now, so I had already tested changing media just by changing the source with the `player.setSrc()` method. Always HLS. It worked great so for me this was a done deal.

When I tried it again yesterday with the playlist plugin, chromecast threw a few session errors and it took quite a while to start casting on occasions. Sim

[2017-08-09 19:27] rafa8626 commented on #81
@sergioavazquez Just FYI I won't be maintaining MediaElement anymore. If I have any info about this I'll let you know. Thanks for all your help with Chromecast

[2017-08-09 19:35] sergioavazquez commented on #81
@rafa8626 Thank you for you help and good luck with whatever you do next!

[2017-08-17 08:05] cezzre opened #84 "Hint to add plugins to the "features" option"
I was trying to install MediaElement.js with [Source Chooser](https://github.com/mediaelement/mediaelement-plugins/blob/master/docs/source-chooser.md) and I struggled a bit before understanding that I had to add `sourcechooser` to the list of features.

Would be great to add a hint somewhere in the docs.

[code]

[2017-08-18 01:23] rafa8626 commented on #84
If you wanna create a PR for this, I'd be happy to review it. You might wanna add those on each of the docs as a Javascript mini snippet

[2017-08-19 12:14] saeedrm6 opened #85 "Video Preview hover on Progress Bar"
Hello Dear Rafael,
I want add Preview to features that show me thumbnail of every secound of progress bar on Hover Progressbar Like Youtube
Please show me a Example ♥

[2017-08-21 12:21] rafa8626 commented on #85
Preview doesn't do that. It will autoplay in mute the video when you hover it. But it won't show thumbnails: you will need to create your own.

[2017-08-21 12:21] #85 closed

[2017-08-23 18:00] Santana1053 opened #86 "Video not playing after ad"
I am having issues after the ad preroll, the main (youtube) video does not auto play, and if the player is in fullscreen, requires the device to exit fullscreen, and then click the video again to play it.

[2017-08-23 18:01] #71 closed

[2017-08-23 20:38] rafa8626 commented on #84
A snippet for each plugin has been added on the docs area. Closing this issue and please star the project to support it. Thanks

[2017-08-23 20:38] #84 closed

[2017-08-23 22:10] Santana1053 commented on #73
It seems that this is still an issue :( my client sent me this screenshot on her iPhone 6S plus
![image](https://user-images.githubusercontent.com/10775656/29640745-e9689194-8825-11e7-803c-3e45266eaa6e.png)

[2017-08-23 22:31] rafa8626 commented on #73
Are you using the latest version of the player?

[2017-08-24 14:16] Santana1053 commented on #73
I updated the player and the ad plugin. This issue has gone away now, but my other issue #86 is still ongoing

[2017-08-24 14:16] #73 closed

[2017-08-25 15:36] Santana1053 commented on #86
Update: this is only an issue on mobile devices

[2017-08-26 07:44] saeedrm6 opened #87 "HLS source switcher"
Hello
I use hls m3u8 to play video file, But I cant switch the quality
Please Help me...
My test Folder : http://click.ir/mediaelement/index.html
with thanks ♥

[2017-08-28 02:25] rafa8626 commented on #87
The Quality plugin acts similar to https://github.com/mediaelement/mediaelement-plugins/blob/master/docs/source-chooser.md; if you have only one HLS source nothing is going to happen. The quality for HLS depends on the Manifest file itself, not on the plugin

[2017-08-28 02:25] #87 closed

[2017-08-28 02:27] rafa8626 commented on #86
Currently I'm not maintaining the project anymore. There are still some pieces with the Ads plugin that must be reworked given the different interactions with devices. The current state is to be optimized for desktop only. If you have an idea of how to solve this and you wanna submit a PR, we'd be happy to review it

[2017-08-28 05:58] saeedrm6 commented on #87
I have 3 HLS file, I enter my sources like this :
<source src="http://localhost/newclick/wp-content/uploads/2017/08/Tile-HD.m3u8" type="application/x-mpegURL">
                  <source src="http://localhost/newclick/wp-content/uploads/2017/08/Tile-SD.m3u8" type="application/x-mpegURL">
                  <source src="http://localhost/newclick/wp-content/uploads/2017/08/Tile-mobile.m3u8" type="appl

[2017-08-28 10:29] rafa8626 commented on #87
I see an error in your site, because you have most of the code I use for the demo file, but the markup you are using is different. Change your entire `demo.js` for this:
[code]
Once you change that, let's see if that helps. BTW, you could use the quality plugin. I pointed out the source chooser because they follow the same principle: without more sources inside the video tag, it won't work. Let me

[2017-08-28 10:37] saeedrm6 commented on #87
I changed the demo.js to new, but it doesnt works. I got this error on my console : Uncaught (in promise) DOMException: The element has no supported sources.

[2017-08-28 11:27] rafa8626 commented on #87
I tried the following code (given that I couldn't use your HLS files in my local environment) and it worked but you need to change the following line on the quality.js code:
[code]
this is the code I used and worked for me:
[code]

[2017-08-28 11:28] rafa8626 commented on #87
By the way, I'm not maintaining the project anymore. I'm just currently checking PRs and wrapping things for WordPress so the latest version of MediaElement is integrated in the 4.9 release

[2017-08-28 11:49] saeedrm6 commented on #87
thanks for your help. the problem solved in Firefox and Microsoft Edge but I have same error on Google Chrome (The element has no supported sources.) when I change the quality. If possible please help me for solve that.
thanks a lot

[2017-08-28 12:05] saeedrm6 commented on #87
the error is from args in the line of 868 :
setTimeout(function () {
				t.mediaElement.renderer[methodName](args);
			},

[2017-08-28 12:36] rafa8626 commented on #87
Yeah it's weird because with the markup I posted above, I had no issues with Chrome. Also I was using the master branch of the player

[2017-08-28 12:44] saeedrm6 commented on #87
I am exactly using above your [link...](https://github.com/mediaelement/mediaelement-plugins/issues/87#issuecomment-325328367)
I dont have any error or issue in mobile(chrome, firefox, ...) but I still have this error in desktop version of chrome (Version 60.0.3112.113 (Official Build) (64-bit)).

[2017-08-28 12:47] rafa8626 commented on #87
Well again, I used the master branch on the project and in your case you are using version 4.2.3. That's the only difference I see

[2017-08-28 13:02] saeedrm6 commented on #87
ohhh... yeah I use the latest version of mediaelementjs and my issue has solved...
thanks a lottttttttttt
wish the best for you dear Rafael ♥♥♥

[2017-08-29 03:13] rafa8626 commented on #86
Try to set the attribute playsinline on the video tag to avoid the full screen issue

[2017-09-03 06:30] 7huo opened #88 "error building playlist TypeError: Assignment to read-only properties is not allowed in strict mode"
I noticed one issue in playlist plugin.
Edge:
![qq 20170903142231](https://user-images.githubusercontent.com/2534718/30001042-628242c8-90b4-11e7-975f-9d0e1bbc5ad5.png)

[2017-09-05 04:19] rafa8626 commented on #88
Which version of the player are you using?

[2017-09-05 10:52] rafa8626 commented on #88
@7huo Download the master branch and you will see it is fixed now; it was caused by the use of a property that was not the proper one to set the classes of an element. Please star the project to support it. Thanks

[2017-09-05 10:52] #88 closed

[2017-09-05 18:26] 7huo commented on #88
Thanks,it show now.But playlist item cannot be clicked,

[2017-09-05 19:19] rafa8626 commented on #88
Thanks for pointing this. It should be fixed now. Please download the master branch again and test this, and please star the project to support it.

[2017-09-06 08:15] 7huo commented on #88
Auto playnext

`diff --git a/dist/playlist/playlist.js b/dist/playlist/playlist.js
index 3767ba3..c3fa504 100644
--- a/dist/playlist/playlist.js
+++ b/dist/playlist/playlist.js
@@ -52,7 +52,7 @@
 		controls.style.zIndex = 5;

 		player.endedCallback = function () {
\-			if (player.currentPlaylistItem < player.totalItems) {
\+			if (player.currentPlaylistItem < player.listItems.length) {
 				playe

[2017-09-06 10:28] rafa8626 commented on #88
@7huo Thank you very much for helping me with these issues. The fix you mentioned above is now on master branch

[2017-09-19 12:40] LeaFoissac opened #90 "Autoplay of all sources in playlist"
When the playlist plugin is used and
when the audio/video has finished to read
Then I want that the following source to be automatically read

[2017-09-24 20:17] callumthomson opened #91 "Changing HLS quality causes infinite buffering until play is pressed"
Hello,

I have a video with 2 HLS playlists as sources. One SD and one HD. The user can switch between them using the quality plugin. They work fine, but when I switch between them using the GUI, the video starts buffering indefinitely. The moment i press play the stream works fine, but until then it looks like the video is buffering and is not going to play.

[2017-09-28 03:27] tennety commented on #2
Looking to take a crack at this...was this issue moved here with the idea that while the basic CC feature is part of mediaelement, the menu for the customization would be a plugin?

[2017-09-28 04:58] rafa8626 commented on #2
Originally I thought that could be another plugin. The more I think about it, the more I see this as a part of the player so other plugins fit in a YouTube settings container (including enhancements to the captions)

[2017-10-06 15:22] Gungrave223 opened #92 "[Q] Select Quality From Single .mpd?"
Question....is it possible to set up the quality.js plugin to auto generate the quality from the .mpd playlist file?

I'm trying to avoid having to set 20 thousand source for a single video...and want to just uses the different quality videos already created for the mpeg dash stream.

[2017-10-10 15:58] Gungrave223 commented on #91
you need to update the following in the quality.js file

`if (quality === newQuality) {
							player.qualitiesButton.querySelector('button').innerHTML = src.title || getQualityNameFromValue(newQuality);
							media.pause();
							media.setSrc(src.src);
							media.load();
							media.dispatchEvent(mejs.Utils.createEvent('seeking', media));
							if (!paused) { //auto restart player after qua

[2017-10-13 02:49] KhodyrevDS opened #94 "Quality plugin does not support mpeg dash source video"

[2017-10-13 02:57] rafa8626 commented on #92
No, this plugin just considers the `source` tags, not the internals of a manifest file. If you wanna provide a PR to enhance this, I'd be happy to review it

[2017-10-13 02:59] rafa8626 commented on #94
Can you provide a URL to show this issue please?

[2017-10-13 03:04] rafa8626 commented on #90
It should be doing this already. Check the demo file for more reference. I just tested both video and audio using the current demo file and they both worked. RTMP has an issue currently but video is completely fine

[2017-10-13 03:04] #90 closed

[2017-10-13 03:04] rafa8626 commented on #90
Please star the project to support it

[2017-10-13 03:05] rafa8626 commented on #91
Is this solution addressed in https://github.com/mediaelement/mediaelement-plugins/pull/93?

[2017-10-13 03:40] KhodyrevDS commented on #94
https://jsfiddle.net/w19y3zyp/

[2017-10-13 03:41] rafa8626 commented on #94
Same answer as https://github.com/mediaelement/mediaelement-plugins/issues/92

[2017-10-13 10:53] #94 closed

[2017-10-13 11:38] Gungrave223 commented on #91
Yes it is.

[2017-10-15 08:01] saeedrm6 opened #95 "play m3u8 audio file"
Hello
I want to play .m3u8 audio file with mediaelementjs but I give error ;
``
<audio     class="mep-playlist"
                   data-showplaylist="false"
                   width="400"
                   controls="controls"
                   preload="auto">
            <source src="http://localhost/navaei/wp-content/uploads/2017/10/shahab-tark-1-stream.m3u8" type="application/x-mpegURL"/>
</au

[2017-10-16 03:25] KhodyrevDS opened #96 "quality-i18n has'nt mejs.quality-quality message"

[2017-10-19 23:04] NedHenry opened #97 "Playlist toggle not displaying"
I am using mediaelement-and-player.js with the playlist plugin for playlists of hls streams. All of it works exactly as expected and is awesome, except that I do not see any button to toggle the display of the playlist. In the playlist readme it says that this toggle button should display depending on the value of the showPlaylist config option. Setting showPlaylist in my code successfully shows a

[2017-10-22 17:13] rafa8626 commented on #97
@NedHenry The toggle button is the second icon from right to left
<img width="634" alt="screen shot 2017-10-22 at 1 09 30 pm" src="https://user-images.githubusercontent.com/910829/31864377-54e33306-b72a-11e7-848b-0986e466028a.png">
If you are not seeing it, maybe it's your configuration.
Please star the project to support it

[2017-10-22 17:16] rafa8626 commented on #96
Thanks for reporting this. It has been fixed in the master branch

[2017-10-22 17:16] #96 closed

[2017-10-23 12:14] saeedrm6 commented on #95
no idea?

[2017-10-23 20:28] NedHenry commented on #97
It is certainly possible that it is a problem with my configuration, but based on the documentation it seemed that the button should be displaying. Apologies if I am missing something.
I am including my configuration below. The playlist displays correctly depending on the value of "showPlaylist" (set to true below) but the toggle button that displays in your screencap does not display on my player

[2017-10-23 20:56] rafa8626 commented on #97
The screenshot I took comes from `demo/index.html` in this project. The JS code used is posted there as well

[2017-10-23 21:25] NedHenry commented on #97
Thanks! That does seem the obvious place to look for example code.
Running the demo code on my computer, the playlist toggle button displays correctly for video but still does not display for the audio player. I'm attaching a screencap. Is the playlist toggle button a video-only feature?
Thanks a ton for your help & fast responses!

<img width="469" alt="screen shot 2017-10-23 at 2 23 10 pm" src="

[2017-10-23 21:30] rafa8626 commented on #97
Oh, I got you now. Sorry for not seeing this before. This plugin was built to only toggle the playlist on the video; in audio always remains since the animation to toggle it will be very disruptive in my opinion. Let me know if you have any other questions/comments, and please star the project to support it

[2017-10-23 23:17] NedHenry commented on #97
Gotcha! That makes sense, now that I see how the animation looks for the video playlists.

It seems like a small adjustment to the documentation to make this clear is all that's necessary. I'll make a pull request for that if I find time in the next few days.

My designers specifically wanted an audio player with a hideable playlist, so I hacked it up this way for a quick fix, which seems to work

[2017-10-24 00:25] rafa8626 commented on #97
Glad I could help. Once you have the PR ready I'll review it. Thanks. Closing this issue now

[2017-10-24 00:25] #97 closed

[2017-10-24 00:26] rafa8626 commented on #95
I don't know if it's because you are using `localhost` in the source; have you tried using a different host?

[2017-10-24 00:26] rafa8626 commented on #91
@callumthomson Once the PR is reviewed and merged, this issue will be closed

[2017-10-25 10:48] rafa8626 commented on #81
@sergioavazquez Just for curiosity, did you ever find a solution for this? Google sent me an email saying that the errors were related to the stream itself and how Chromecast processed it, but that's it.

[2017-10-25 12:56] sergioavazquez commented on #81
@rafa8626 I decided on not using the playlist plugin and develop my own list like component and apply the method described above to change the content source. It works everywhere I tested. But I'm not using Air Play or any apple related product to "cast". Changing contents on iOS works great though!
Still couldn't hack updating content while casting if the mime type changes from HLS to DASH. It si

[2017-10-25 13:15] rafa8626 commented on #81
Gotcha. Well thanks for checking this. I'll close this issue

[2017-10-25 13:15] #81 closed

[2017-10-25 13:16] rafa8626 commented on #95
Or it's strictly your stream.

[2017-10-26 10:10] PersonalityFox opened #99 "Change quality without playing - starts playing from the beginning"
Perhaps I wanted to save traffic. I click "pause" and choose a low quality, why do I need to rewind and search my last position? This not normal.
Am I mistaken?

[2017-10-28 01:50] kenzouno1 opened #100 "Playlist Track Selected not update"
On next track and prev track selected track in playlist is not update.Please Update this feature

[2017-10-28 02:16] #100 closed

[2017-10-28 12:39] rafa8626 commented on #99
@Gungrave223 your PR solved this issue?

[2017-10-29 15:33] eliasmerzhaeuser opened #101 "hidevideocontrolsonload does not work"
Hello,
I tried to make the controls disappear until you hover over the video. But the hidevideocontrolsonload somehow dublicates the controls and the video cannot be played anymore..

<script>
	$('video,audio').mediaelementplayer({ hideVideoControlsOnLoad: true });
  </script>

Is there a solution to this problem?
Cheers

[2017-10-31 11:10] Danishkthomas opened #102 "Is it possible to play 360 degree videos using mediaelement player"
Hi ,
I would like to use 360 degree videos on my project. Is it support 360 degree video playing feature?
If yes, how can I implement that feature. Thanks in advance, for your help and valuable suggestions.

[2017-11-01 01:12] #101 closed

[2017-11-01 03:22] rafa8626 commented on #95
Closing issue since no answer has been posted in a week. If you would like this to be reopene please let us know

[2017-11-01 03:22] #95 closed

[2017-11-01 10:53] rafa8626 commented on #102
There's a branch `vrview` that integrated Google VRView, but I never got to finalize the testing. On the other hand, https://github.com/yanwsh/videojs-panorama/blob/feature/standalone/index_mediaplayer.html shows how to integrate VideoJS Panorama with MEJS using the `feature/standalone` branch. That's all the support it currently has. Thanks and please star the project to support it

[2017-11-01 10:53] #102 closed

[2017-11-01 11:26] rafa8626 commented on #102
Check the branch `vrview` and inside `demo` folder, you will find a `vrview.html` that I just tested and worked. Maybe there are still some issues with fullscreen but we can work them out

[2017-11-01 11:27] rafa8626 commented on #102
I will just add examples of each plugin and then that branch will be merged into master. Thanks

[2017-11-02 07:42] Danishkthomas commented on #102
Thank you Rafael.

[2017-11-13 19:35] #91 closed

[2017-11-13 19:41] rafa8626 commented on #99
@PersonalityFox This has been fixed in the master branch. Thanks for reporting this, and please star the project to support it. This will be released next Friday

[2017-11-13 19:41] #99 closed

[2017-11-16 07:06] vibhi19 opened #103 "Hi Im using wordpress Plugin but player is not working with Youtube embed"
Can You help Me with it

How to use this Plugin to play youtube and dailymotion video

[2017-11-17 04:22] rafa8626 commented on #103
You may have to ask this in the WP forum and provide more details about your issue

[2017-11-17 04:22] #103 closed

[2017-11-17 10:10] vibhi19 commented on #103
Ok can You tell me How can I Use http://www.mediaelementjs.com/ this player on a wordpress website using The script i tried but failed Please a Little help will be appreciated

[2017-11-17 11:41] rafa8626 commented on #103
I'm not an expert on WP, but I know that generally speaking they set up the script at the footer file of your theme; DailyMotion is not covered by default in WP (YouTube does) but you can add it there as well. So something like this may help you:
[code]
You can use https://github.com/mediaelement/mediaelement/issues/2450 and https://github.com/mediaelement/mediaelement/issues/2449 for reference.

[2017-11-17 17:27] vibhi19 commented on #103
I Got css and put your code but i cant find the Js File of mediaelemetjs player can You give its cdn Link

[2017-11-17 17:35] vibhi19 commented on #103
got it

[2017-11-17 17:51] vibhi19 commented on #103
Hi Its working http://xvid.ihostfull.com/3708-2/ here but One Problem is that i used Noramal youtube links and embed code and is There anyway i can add support to oembed Youtube and iframe Video dailymotion too

[2017-11-17 18:19] rafa8626 commented on #103
What do you mean by oEmbed?

[2017-11-17 18:25] rafa8626 commented on #103
I think if you set iframes it should work as well. Just change your jQuery selector:
[code]
I haven't tested completely like that but as far as I know it should work

[2017-11-17 18:26] rafa8626 commented on #103
One thing I noticed in your page you are referring `mediaelement-and-player.min.js` twice; don't do that or you will experience issues

[2017-11-17 18:51] vibhi19 commented on #103
Yeah Thank You I mean oembed  and i also used iframe as well in some post thank you i test it

[2017-11-17 18:52] vibhi19 commented on #103
I will check and Remove the  mediaelement-and-player.min.js

[2017-11-17 19:07] vibhi19 commented on #103
[code]

Not working brother

[2017-11-17 19:09] rafa8626 commented on #103
Put it on a Fiddle or a code snippet showing me your HTML so I can check what is the issue

[2017-11-17 19:09] rafa8626 commented on #103
Or do it on your URL above so I can see if there are any issues

[2017-11-17 19:19] rafa8626 commented on #103
Interesting. If I use vanilla JS it works for me:
[code]

[2017-11-17 19:21] vibhi19 commented on #103
I put the into footer if you wanna try i can provide you username password
noproblem its a test site

[2017-11-17 19:22] vibhi19 commented on #103
also Used vanila js code still same issue

[2017-11-17 19:24] rafa8626 commented on #103
It must be something in your code. I used jQuery as well and it works for me:
[code]
<img width="608" alt="screen shot 2017-11-17 at 2 24 10 pm" src="https://user-images.githubusercontent.com/910829/32964983-068af4b8-cba3-11e7-8d62-e0ec88870151.png">

[2017-11-17 19:27] vibhi19 commented on #103
Working Brother thank you verymuch made a lillte mistake

[2017-11-17 19:28] vibhi19 commented on #103
You are The Best

[2017-11-17 19:33] rafa8626 commented on #103
u r welcome man glad I could help you

[2017-11-17 19:33] rafa8626 commented on #103
please just star the project to support it

[2017-11-17 19:34] vibhi19 commented on #103
Yeah sure

[2017-11-17 19:34] rafa8626 commented on #103
Thanks

[2017-11-22 13:13] smannath opened #104 "Captions/Subtitles on-off toggle button"
Hi, I f I am using single language. Then how can I set captions/subtitles button as toggle on/off instead of hovering disable/enable. Thanks

[2017-11-26 15:43] saeedrm6 commented on #95
Hello, Excuse Me I havent access on the project... I try other sources Except 'localhost'... but I give error again

[2017-11-26 16:06] saeedrm6 commented on #95
I also copy your demo to  https://nava.ir/media/demo/
but hls in audio play dont work

[2017-11-26 19:10] rafa8626 commented on #95
You may need to post a URL where the issue can be explored. I’m not maintaining the project anymore but I can take a quick look

[2017-11-28 08:18] saeedrm6 commented on #95
I solved this issue with update to the latest version of your script...
thank you...

[2017-11-28 08:47] jcdby opened #105 "Can`t show replay button in IE"
After plying one audio in IE, the Play button should be shown as a Replay Button, but it was still shown as Play Button in IE. It works well in chrome.

I checked its events flow.There are a little bit differences between in chrome and IE. At the end of events flow, in IE, the "pause" event happened after "ended" event which caused the Replay button always be shown as Play button. Is there any goo

[2017-11-28 09:03] jcdby commented on #105
sorry, I thought I posted on a wrong place. I will re-post it again to the right place.

[2017-12-02 17:11] openbayou opened #106 "Reverse volume control?"
Right now, the default volume control has mute on the left and max volume on the right. Is it possible to reverse the control the volume, to have mute on the right and max on the left? Not really important if it can't be done.

[2017-12-08 05:02] #106 closed

[2017-12-15 13:38] Danishkthomas opened #108 "Some Video Part Showing top left corner of the page"
I'm trying to setup a player using mediaelement.js. I'm implementing my own custom playlist - I want only one player on the page, and on clicking different titles in the playlist, it has to automatically change the source of the player.

I've achieved this with fairly simple code. but the issue is when clicking back button on the browser, part of video showing showing on top left corner of the win

[2017-12-20 02:33] cjcolvar commented on #104
@smannath You can do this by setting the player config `toggleCaptionsButtonWhenOnlyOne` to `true`.  I think the current documentation (https://github.com/mediaelement/mediaelement/blob/master/docs/api.md) has a bug stating the opposite of how it actually works.  I've submitted a PR to clarify the behavior.

[2017-12-24 03:13] aricrepp opened #109 "Playlist Plugin button not working"
I'm relatively new to MEJS( and JQuery for that matter )and I've been trying to get the playlist working. I can get it to display everything EXCEPT the playlist button. I've followed the documentation best I could, tried using the demo which I believe is broken for playlist? (It showed that the files were broken when I inspected the demo). Anyway, this is my setup and for the life of me cannot see

[2017-12-24 03:56] aricrepp commented on #109
Think I found the problem in another thread, thought I looked close enough. Apparently the playlist feature is meant for video no audio, unless there has been a recent update that changed it.

[2017-12-24 17:59] #105 closed

[2017-12-24 17:59] rafa8626 commented on #104
Closing this issue since PR was merged already. Thanks and please star the project to support it

[2017-12-24 17:59] #104 closed

[2017-12-30 06:41] duythien opened #110 "Question about Vast Plugin"
Hello team

I have use plugin https://cdnjs.com/libraries/mediaelement-plugins, and try to config like below

[code]
Then I get some error like image below
<img width="713" alt="screenshot at dec 30 13-40-00" src="https://user-images.githubusercontent.com/1762691/34451908-fe7de18c-ed66-11e7-9273-de88b92b0d6e.png">

You can see live version at http://tv.molo.vn/video/we-make-it-awesome/

Anyone hav

[2018-01-10 10:24] Ebtessam commented on #109
had the same problem and I don't see why is this for video only ( I mean I see it in the code ) but why do that really.
this repo has the playlist button for audio.
https://github.com/rocco/mediaelement-playlist-plugin

[2018-01-10 10:26] Ebtessam commented on #109
checkout [this](https://github.com/mediaelement/mediaelement-plugins/issues/97) issue

[2018-01-23 16:20] payflix opened #111 "Chromecast Subtitles not working"
I want to move to mediaelement instead of videojs.
The chromecast plugin seems to work for media files but the subtitles are not displayed on the chromecast.

The subtitles are working in the web player but when casting they just disappear, could anyone help me out?

`<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-sc

[2018-01-24 07:14] crashinz opened #112 "playlist youtube as audio"
new problem,: Why are you only able to hide the playlist in video player?

also just an fyi, i dont care about using old versions but when you use the newest mediaelementplayer.css and mediaelement-and-player.min.js from the master the play and volume buttons disappeared for me

i also tried using this but it wont play youtube audio, is that possible?
https://github.com/jeremejazz/mep-feature-play

[2018-01-24 12:27] Jad3z commented on #112
@crashinz Great to hear you solved your problem, could you close this issue?

[2018-01-26 04:14] crashinz commented on #109
Did you figure out a solution you could share?

[2018-02-02 19:53] vibhi19 opened #115 "Getting an error while using this player"
Hi
Thanks For Great work but one issue im getting right now and i dont know what causes it
here an screenshot of chrome console
<img src="https://i.imgur.com/Fk48WfB.jpg"></img>

Can You check and tell what can cause this issue

[2018-02-02 19:54] vibhi19 commented on #115
Here an another on frontend it add a black color frame in the site
<img src="https://i.imgur.com/ouVlfye.jpg"></img>

[2018-02-02 19:55] vibhi19 commented on #115
This Script in footer and css in head
css
`<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">`
[code]

[2018-02-04 00:36] sametaylak opened #116 "Getting error with speed feature"
[code]

Hello, i'm using mediaelementplayer for my laravel project. As you can see i included every files. But there is no speedButton in controls bar. I am trying to manually build features in console panel and i got some error messages.

[code]

[2018-02-04 00:42] roguearch commented on #116
i debugged speed.js file and i noticed buildspeed function doesn't call

[2018-02-04 00:54] roguearch commented on #116
[code]
in this code block it should be call buildspeed function but it seems it doesnt

[2018-02-04 02:45] johndyer commented on #115
It's tough to tell without seeing your `video` tag.

[2018-02-04 05:52] vibhi19 commented on #115
im using iframe of YouTube video

[2018-02-06 11:19] skoften commented on #36
Any update on this feature? Thanks.

[2018-02-10 05:37] nadirlc opened #117 "Fullscreen error using playlist plugin"
In the playlist demo example, if you click on the Full Screen button and then click on the big play button in the center, it resizes the player without exiting the Full Screen mode. See attached screenshot.
![screenshot from 2018-02-10 10-36-12](https://user-images.githubusercontent.com/20923812/36058912-439caf8e-0e4e-11e8-97e3-b7707b52520b.png)

[2018-02-12 11:37] nadirlc opened #120 "Is it possible to configure each playlist item ?"
Is it possible to configure each playlist item in a playlist separately?. We would like each item in the playlist to use a different configuration for the YouTube, Ads, VAST/VPAID and Postroll plugins. Can we set this configuration dynamically each time a video in the playlist is clicked ?.

[2018-02-14 03:56] nadirlc opened #121 "Using VAST, Ad and Postroll plugins with YouTube videos"
Is it possible to use the VAST, Ad and Postroll plugins with YouTube videos?.

[2018-02-14 18:33] z3a opened #122 "Playlist with audio and video content"
Hi,

There is a way to create a playlist with a mix of audio and video sources in the same player? is it possible?

Thanks.

[2018-02-26 12:21] vibhi19 commented on #115
@johndyer
Hi This code

<script>
        jQuery(function ($) {
            $('video, audio, iframe').mediaelementplayer({
                stretching: 'responsive'
            });
        });

    </script>
Create the whole mess I use it to add support to youtube and other site on their iframe

How can i only add support to youtube and dailymotion ans other site

instead of adding player to simply

[2018-02-27 11:02] jimmywarting opened #123 "problem chromecasting live stream"
example stream: http://bit.ly/2EWjfnj

[2018-03-06 01:13] kenzouno1 opened #124 "Audio stop at one hour in google chorme"
Hi. My website recently error with audito time > 1 hour. Playlist always stop at 1:00:00 [playlist here](https://audiotruyen.org/tien-hiep/truong-tam-phong-di-gioi-du.html)

[2018-03-13 11:48] rafa8626 commented on #110
@duythien You need to add https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.js and https://cdnjs.cloudflare.com/ajax/libs/mediaelement-plugins/2.5.0/ads/ads.css before the vast plugin. Please star the project to continue supporting it

[2018-03-13 11:48] #110 closed

[2018-03-13 11:49] rafa8626 commented on #122
@z3a Not currently. It could be explored but right now we are only accepting PRs and bug fixes. Please star the project to support it

[2018-03-14 11:52] nadirlc commented on #22
Does the VAST/VPAID plugin support YouTube videos?.

We want to show videos ads using VAST before playing YouTube clips

[2018-03-14 11:58] skoften commented on #36
Can you tell something about this feature? When is it planned?

[2018-03-14 12:19] rafa8626 commented on #22
It should but just keep in mind that the plugin is very limited in regards of what can parse and present as Ad

[2018-03-20 13:45] OtterlyAdorable opened #125 "Too many Video Buttons"
I haven't really used mejs before, so I'm walking into this kind of blind.  We added a video playlist to a website that I am helping keep updated, and we noticed that the video has a ton of video navigation buttons.  I cannot figure out how to fix this without making all of the buttons disappear.  I have it circled in this screenshot:
![screenshot](https://user-images.githubusercontent.com/1336732

[2018-03-20 17:31] mjacobson7 opened #126 "Cannot set property 'mejs.speed-rate' of undefined"
Getting an error after setting up the speed plugin.  When I start my app, this is the error I get:
![2018-03-20_11-31-45](https://user-images.githubusercontent.com/18683764/37671861-47497296-2c32-11e8-8136-274ddf37e5c5.png)

Here is my code:

![2018-03-20_11-32-53](https://user-images.githubusercontent.com/18683764/37671958-797adb92-2c32-11e8-90ac-3a4e9975a2d2.png)
![2018-03-20_11-32-41](https://u

[2018-03-22 06:20] effectivemedia opened #127 "Speed, Jump Forward & Skip Back plugins not showing on Wordpress site"
Thank you for this amazing product!

I have tried to implement the audio player on my site, and the basic player does come up. However, the speed, jump forward and skip back plugins do not show up.

I have properly enqueued the scripts and styles, at least so they show up in the developer tool debugger (firefox). I read through the docs and used the demos as guides. I have cleared my browser cache

[2018-03-22 06:26] effectivemedia commented on #127
One more point that may be important - the source is an MP3 streamed from the PodBean podcast service.

Thank you

[2018-03-22 14:29] effectivemedia commented on #127
Realized using the regular <audio> tag may not call the player - so I switched it to:
`echo do_shortcode('[audio src="' . $dnld_url . '" ]');`

[2018-03-23 17:40] effectivemedia commented on #127
Did more research... Seems I didn't add dependencies to the enqueu. Now speed shows up but the speed menu is hidden my the header if the player is on top of the page.

The jump & skip still don't show.

Error: "n.replace is not a function"

Full console below:

`error building skipback
TypeError
​
columnNumber: 11889
​
fileName: "https://ajax.cloudflare.com/cdn-cgi/scripts/935cb224/cloudflare-stat

[2018-03-23 18:04] effectivemedia commented on #127
And now keyboard controls don't work - only down arrow for lowering volume

[2018-03-31 05:25] nadirlc commented on #117
We managed to get rid of the error by commenting out the line: **player.resetSize();** in playlist.js.

[2018-03-31 05:25] #117 closed

[2018-04-03 05:34] nadirlc opened #128 "Quality plugin menu error"
In the quality plugin demo html file, we have to click on the plugin menu twice to get the quality to change

[2018-04-03 06:01] nadirlc commented on #128
We managed to fix the error by removing the focusin and focusout events from the inEvents and outEvents variables.

[2018-04-03 06:01] #128 closed

[2018-04-10 00:40] thatcher commented on #109
The documentation for these plugins is making me wonder if I chose the right open source media player.  It painful having to reverse engineer plugins.  Why have an official plugin with zero documentation on how to use it and what it supports.  :quarter:

[2018-04-15 11:35] tiagommferreira commented on #67
@rafa8626 Comming back on this thread, I have an error, that when I'm playing certain HLS videos/live-feeds, I get the following error: `Unknown error: session_error`

Here's an HLS URL that works: http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8
And one that does not: https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8

I tried with the co

[2018-04-24 12:49] sprungmarker opened #129 "Playlist: error in Safari"
Playlist error in Safari 11.1 - is not generating playlist and gets error - line 311:

` undefined is not an object (evaluating 'childNode.tagName.toLowerCase')`

This error is also in the demo version.

[2018-05-27 20:32] jimmywarting opened #133 "chromecast starts from the beginning"
when resuming a video on chromecast it starts from the beginning, i expected a startTime to be set when continuing watching on the chromecast

[2018-06-01 10:49] i7voodoo opened #135 "Ajaxify mediaelement"
I'm using mediaelement to make audio playlists on my website which is great, bu whenever I enable Ajax on my theme everything works fine except mediaelementjs, it down't load at all.
I installed WaveSurfer.js plugin to access waveforms which works with mediaelement, but again it des nt load with ajax.
What should I do?
Thanks in advanced

[2018-07-17 14:47] sprungmarker commented on #129
Is there any progress for safari? You cannot use playlist Plugin for Safari ...

[2018-08-16 00:46] cedrictailly opened #138 "Chromecast ended event"
It seems the "ended" event is not always fired at the end of a media played through a chromecast device, this event is detected by checking if currentTime is upper or equal to duration, but this way is unstable because sometimes it's missed.

To solve this, search :

    t.controller.addEventListener(cast.framework.RemotePlayerEventType.CURRENT_TIME_CHANGED, function () {
      var event = mejs.Ut

[2018-08-22 22:19] ezequielalba commented on #109
@thatcher Agree on that! Is there not enough documentation about all the things that you can do with the player, and not many examples to figure it out how to tackle certain problems.

[2018-08-22 22:29] ezequielalba opened #139 "Playlist not working with dynamic Array"
I am setting a player with a playlist dynamically, and the code will be something like this:

[code]

The playlist loads correctly. Good.

But I have an issue, when the song ends when it tries to get the next in line triggers an error saying that the source doesn't exist?

If I click on the Next button it works perfectly.

Any ideas?

[2018-08-22 22:56] ezequielalba commented on #139
Fix it by doing a hot-fix in this line:
`player.setSrc(player.playlist[++player.currentPlaylistItem]);`

inside the playlist.js
It was getting the object for each key, instead of the source for each key inside my array.
did this:
[code]

[2018-09-19 15:05] Jokez80 commented on #139
Thank you @ezequielalba  so much! This fix worked perfectly!

[2018-11-30 08:55] Jokez80 opened #143 "nexttrack/prevtrack not updating playlist"
When I click prevtrack or nexttrack it is not updating the playlist marker.

[2018-12-26 17:34] avkizub commented on #143
I have the same bug

[2018-12-27 01:14] elgrosboub commented on #36
Any update on this feature? Thanks.

[2018-12-27 18:58] Asser90 opened #144 ""castEnableTracks: true" - Breaks casting"
I'm trying to get this chromecast thingy to work.

Everything works except the casting with tracks.

My video want to cast however if i add castEnableTracks: true the casting bit breaks and it wont cast anymore?

[2018-12-28 01:12] #144 closed

[2018-12-28 01:13] Asser90 commented on #144
Just remember the god damn ,  ;)

castEnableTracks: true,

[2019-01-09 10:04] Jokez80 commented on #143
We have the same issue as avkizub aswell.

[2019-01-11 12:21] gorankrgovic opened #145 "Help needed: Using markers with ads plugin"
Hi all,
Since I can't find it anywhere, can somebody help me out to set up ads plugin to work with markers plugin if it's possible? Since I want to have pre-roll, mid-roll and post-roll ads implemented at a certain time, the only way I can think of achieving this is with using markers.

I'm trying to do something like...
[code]

Thanks

[2019-01-14 08:01] veliis commented on #7
hello i can do how i want to make such a work on my wordpress site

[2019-01-15 19:49] DaZ829 opened #146 "[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019."
**[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead.**
[See for more details](https://www.chromestatus.com/features/4642138092470272)

[2019-01-21 07:40] ferocedev opened #147 "speed-plugin speed display Undefined"
sppeds.js
I modified **speeds[i].value === value** to **speeds[i].value == value**

[2019-01-29 18:42] hriad commented on #145
I also have the same use case and I'm evaluating feasibility using mediaelement. Did you get anywhere with this @gorankrgovic

[2019-05-03 22:43] #126 closed

[2019-05-14 14:01] cxanthos commented on #126
@mjacobson7 I'm having the same issue, did you manage to resolve this?

[2019-06-06 00:24] berryamin commented on #127
@effectivemedia : about the keyboard, I think you might have hit issue fixed by https://github.com/mediaelement/mediaelement/pull/2577
I commited it to master, may I ask you to test if the Keyboard issue is fixed in master ?

[2019-06-10 01:00] #2 closed

[2019-07-09 19:17] berryamin commented on #139
anyone to write a PR for this fix ?

[2019-07-12 18:20] ezequielalba commented on #139
@berryamin The repo is no longer maintained if you see there are a bunch of PRs open waiting for feedback or merges. I think that the way is to hot-fix on your own repo/local dev.

[2019-07-13 05:11] berryamin commented on #139
@ezequielalba Any volonteer to take over maintainer role for mediaelement-plugins? John Dyer is open to new maintainer, if someone is volunteer, please let me know and ask John Dyer to grant you access. If no one volunteers, I might take the role. But I took mediaelement already, so dedicated maitainer for plugins would be great!

[2019-07-13 16:33] BinuDavid opened #151 "Skipback icon"
Skipback icon is not loading correctly when downloading the files locally. It shows the play button instead of the skipback button.

[2019-07-14 23:54] berryamin opened #152 "new maintainer for mediaelement-plugins: anyone ?"
Hello community !

   as you may have noticed, mediaelement-plugins needs a bit of work since some excellent PRs have been stacking here for quite a long time.

   is someone here ready to volunteer a few hours per month to help the project ?

[2019-07-19 12:04] berryamin commented on #147
@ferocedev we will have a new maintainer for the project soon (anyone can apply to issue #152). May I ask you to create a Pull Request for this change ?

[2019-07-29 08:35] Qoraiche commented on #152
@berryamin I'm here 👌

[2019-07-29 08:51] berryamin commented on #152
Ha oki great news! Just sent a mail to John Dyer about this

[2019-07-29 08:54] Qoraiche commented on #152
@berryamin but I will only maintain the `mediaelement-plugins` not the whole mediaelement.js, can you give John Dyer email

[2019-07-29 08:57] berryamin commented on #152
Yes sure. Johndyer at gmail.com

[2019-08-04 19:23] #152 closed

[2019-08-09 02:31] irieislaw4 opened #153 "Subtitle track showing during my preroll ad"
I am having a problem on my subtitle track. Once the preroll ads starts my subtitle tracks for the actual video shows when my pre roll ads is playing. Can you guys help me figure out how to fix that?

[2019-08-22 14:20] berryamin commented on #129
Looks the same as https://github.com/mediaelement/mediaelement/issues/2251

[2019-08-22 14:24] berryamin commented on #112
Hello,

    the subject of issue #112 does not match with the contents.
Please open a new issue request for each new issue. Closing for now.

[2019-08-22 14:24] #112 closed

[2019-08-28 02:36] xgqfrms opened #157 "probably bug"
# probably bug

https://www.mediaelementjs.com/

![image](https://user-images.githubusercontent.com/7291672/63821468-b66ae880-c97f-11e9-870c-7cf74f8a002a.png)

[2019-09-05 09:22] berryamin opened #159 "plugin architecture for codecs"
Hello,

   I'd like to see support for new Codecs inside ME, as suggested in  #651 and #2136
Plugin architecture seems focused to "features", but not sure that a new codec may fit here.
Is the current plugin architecture able to support new codecs out of the box, or do we need to improve it ?

[2019-09-07 20:27] berryamin opened #160 "COMPATIBILITY and feedback plugin"
Hello,

    as suggested in the ME wiki at: https://github.com/mediaelement/mediaelement/wiki/Home,

I think the idea below might bring much attention to the mediaelement player and benefit to the whole community around this player. If you know someone who would like to volunteer to write such a plugin, I think everyone here would be happy to help him, isn't it ?

The main idea of the plugin would

[2019-09-13 18:18] amiranmelia commented on #145
@gorankrgovic @hriad any update on this ?

[2019-10-18 22:10] berryamin opened #161 "various plugins"
Hello,

    Would be worth taking a look at the following plugins for mediaelement

https://github.com/avalonmediasystem/mediaelement-track-scrubber
https://github.com/avalonmediasystem/mediaelement-title
https://github.com/atomical/media-element-logo-plugin
https://github.com/atomical/media-element-thumbnail-selector
https://github.com/avalonmediasystem/media-element-add-to-playlist
https://githu

[2019-10-30 09:24] SergeyPerelomov commented on #139
Большое спасибо, очень помогли

[2019-11-06 12:43] Jackky90 opened #163 "VAST plugin throws an error in Wordpress"
This what I get:

[code]

[2019-11-21 16:11] thatcher commented on #129
still broken for me.  any news?  the real problem to me is this:

[code]

Note that `t.mediaFiles` is a simple Array of Objects so iterating over it and calling tagName will _always_ fail.

Do you agree @rafa8626 ?

[2019-11-21 16:20] thatcher commented on #129
I was able to fix this by changing it to:

[code]

[2019-11-25 21:55] berryamin commented on #129
Thanks for PR. Will be included in release 2.5.1 to come out soon.

[2019-11-25 21:55] #129 closed

[2020-01-03 08:29] berryamin commented on #127
Help needed to update wordpress plugin https://github.com/mediaelement/mediaelement/issues/2704

[2020-02-13 20:08] KZeni opened #166 "Google Tag Manager missing from dist folder"
I see it has docs & src, but it's not in dist.

Is there any reason this isn't currently as part of the dist folder? Seems odd it's just in source while all others are then also in dist (which I'm guessing is what https://cdnjs.com/libraries/mediaelement-plugins & others are looking at so GTM is currently not readily available via a CDN due to what appears to be an oversight[?])

[2020-02-14 10:05] goldensky09 commented on #92
May i know if my m3u8 file has 4 video quality, how to get the quality menu. a small code snippet to explain will help.

[2020-02-14 23:02] Gungrave223 commented on #92
It depends on how you created your playlist...I personally use aws media element to convert my mp4 into hls video...

During the conversion process, I have aws create different playback quality for the different bandwidth support...then I have a master playlist that's used to auto switch between the playback quality base on the end user bandwidth...

So to answer your question...there is no code t

[2020-03-12 19:55] jaapmarcus commented on #157
With every player you will have the issue the only way to prevent this is add propper DRM to the streaming server and maybe solve that issue. Even Youtube has the same issue how ever that is slightly secured but with the correct tools still possible.

[2020-03-16 15:30] berryamin commented on #92
Closing, as the feature has been pushed to master

[2020-03-16 15:30] #92 closed

[2020-03-16 15:51] berryamin opened #167 "quality.js: lint / Redundant double negation"
Hi,

 when linting, I see the following errors for the quality.js plugin;

<pre>
mediaelement-plugins/src/quality/quality.js
   99:9   error  Redundant double negation                            no-extra-boolean-cast
  110:16  error  Redundant double negation                            no-extra-boolean-cast
  398:37  error  'currentQuality' is assigned a value but never used  no-unused-vars
</pre>

[2020-03-31 11:44] dannyconnolly opened #168 "How to import plugins into vue component?"
I have a laravel vue app and I'm not sure how to use the plugins from NPM. The player works but just not sure how to implement the plugins. Below is the code I'm using for the component. Do I just import everything from mediaelement-plugins?

[code]

[2020-04-07 21:49] jaapmarcus commented on #166
I don't know except it didn't exists in the Grunt file that build it...

With the pull request it should be solved.

[2020-04-08 11:25] jaapmarcus commented on #168
See https://github.com/mediaelement/mediaelement/issues/2710
or https://github.com/nuxt/nuxt.js/issues/1992

how ever please be aware that the current preroll only support flash and native html video's no vpaidjs / VMAP supported .

[2020-04-11 07:53] #168 closed

[2020-04-29 17:14] #166 closed

[2020-05-06 09:55] earsneyes opened #171 "vertical video"
Hi there,
I have a wordpress and would like to display a few vertical  videos 1080x1920px  on one page without borders in the mediaelements player. something like netflix with few more items on one page than would fit in landscape format. (see attachment)

How can I do that, is it possible at all?

Thanks in advance
Linus
![IMG-20200505-WA0003](https://user-images.githubusercontent.com/875876/8116

[2020-05-06 10:12] #171 closed

[2020-05-07 20:56] throne1986 opened #172 "Quality plugin not working"
Hi every one am new to media element , I would like to use quality plugin but  unfortunately its not showing here is my code

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Demo HLS</title>
            <script src="//ajax.googleapis.com/ajax/libs/jqu

[2020-05-07 21:22] jaapmarcus commented on #172
Prepared a Codepen for you see maybe it will help you :)
https://codepen.io/jaapmarcus/pen/GRpxZWj
Best regards

[2020-05-08 09:55] throne1986 commented on #172
@jaapmarcus  thanks a lot, is it possible to play video based on internet speed? let assume my internet is very slow when I open the media player automatically it should play low-quality video eg sd ?

[2020-05-08 11:19] jaapmarcus commented on #172
The only way to do that is with downloading a file and testing it. Not the best option imo..

HLS and Dash protocol / steaming has build in support for it.

If you check https://r.dcs.redcdn.pl/hls/o2/Allegro/vod/1af1b7ee-f87b-4e55-b50f-ac9d7f3e2647/playlist.smil/playlist.m3u8 with out any player you will see it scaling depending on network performance. You will need to supply multiple stream qual

[2020-05-08 13:30] throne1986 commented on #172
Yes Ur right everything works perfectly now, my last question is about autoplay, I added autoplay true on media element player options but it's not working, do I always need to do like this below?

    <video id="videoplayer" muted muted webkit-playsinline playsinline autoplay>
       </video>
or is there any other method?

[2020-05-08 14:09] jaapmarcus commented on #172
[code]
Should be fine

But yes it needs to be always added for iOS other mobile devices. (And some other browsers)

[2020-05-08 15:26] throne1986 commented on #172
okay thanks, bro u can close the issue, by the way, this amazing player, for me the best open source available in the market, God Bless all yah for the amazing job

[2020-05-08 15:26] #172 closed

[2020-05-13 07:12] mircobabini commented on #172
Hey, adding some more questions here:

1) About HLS, what do you think about preparing a demo with mediaelement + https://github.com/aminyazdanpanah/PHP-FFmpeg-video-streaming#hls ? I think that a lot of people could be in my same situation (I just have 1 high quality mp4 and want to generate medium and low quality resources and also add HLS in order to have auto-quality selection, but don't know

[2020-05-13 07:30] jaapmarcus commented on #172
It is possible with FFmpeg see https://docs.peer5.com/guides/production-ready-hls-vod/

In the past I made a Wordpress  Plugin based on the transcoding (mp4 to a lower quality mp4) with PHP-ffmpeg so allot is possible. I suggest at least do the encoding one time and save it to the disk... On the fly encoding is only possible with low traffic or you need a way bigger server to enanble it.

Also pai

[2020-05-13 09:50] neffets opened #174 "Documentation accessibility - How to navigate with keyboard (a11y)"
It would be helpful to documentate the usage of mediaelement by keyboard.

* how good is mediaelements player usable per keyboard (key, caveeats, different goals)?
* which **keys** can I use (TAB, ENTER, "<", ">", or ???)

Thanx

[2020-05-13 09:54] neffets commented on #174
I use currently following config:

        var config = {
                loop: false,
                enableAutosize: true,
                alwaysShowControls: true,
                clickToPlayPause: true,
                /* Features/Plugins */
                features: ['playpause','current','progress','duration','tracks','volume','speed','fullscreen','a11y','jumpforward'],
                hideC

[2020-05-13 15:34] neffets commented on #174
What I found:

* **M** - "mute" = toggles between mute and unmute
* **F** - "fullscreen" = toggles between fullscreen mode and normal in-page mode
* **SPACE** - "play" = toggles between play and stop-mode

* **arrow-left** and **arrow-right** - "timeline" = moves current timeline-position to the "left" (reverse) and "right" (forward)
* **arrow-up** and **arrow-down** - "volume" = increases the vol

[2020-05-13 17:52] jaapmarcus commented on #174
esc to exit full screen as alternative for full screen...

[2020-05-14 08:36] mircobabini commented on #172
Sure, of course it's beyond the scope, I'll do my own researches. Just one more question: in order to use BLOB urls instead of standard urls the best idea is to first enable HLS in order to activate segmentation instead of having to download the full mp4 video synchronously, right?

Thank you very much.

[2020-05-14 13:05] jaapmarcus commented on #172
Go ahead and try. I don't using blobs work due to the nature of HLS and the segmented part.

[2020-05-15 13:54] Akryum commented on #151
Don't forget to import the css:

[code]

[2020-05-16 16:36] #151 closed

[2020-06-19 08:25] zoxee opened #176 "Fonts"
Hello Guys!

I have a huge problem on my website. Everything is just loading fine and fast (900ms), but then it gets stuck for incredible 12 seconds and finishes the loading for another 250ms.
So i did a performance analysis in dev tools and it appears that mediaelement-and-player.min.js:12 is pulling a bunch of fonts and glyphs from various cloud sources, during 12 secs !

Here is a screen of the

[2020-06-19 09:07] jaapmarcus commented on #176
Can't any reasons why MEJS would load any fonts/icons

Could you replace the mediaelement-and-player.min.js with mediaelement-and-player.js to see exactly what function is called?

[2020-06-19 15:01] zoxee commented on #176
That's a good idea mate. Gonna do just that and get back to you.

[2020-06-19 15:04] zoxee commented on #176
That's a good idea mate. Gonna do just that and get back to you.

[2020-07-09 11:38] vocationeers opened #177 "Enable Speed Plugin for non-native renderers"
Any chance to enable the speed plugin for non native-renderers?

[2020-07-28 07:39] ManuelTS opened #179 "Error on using a11y with ME.js"
With ME.js v 4.2.16, 4.2.13, and 4.2.12 and the a11y plugin, I get the following error:
[code]
so I guess it is on the a11y side. The scripts are in the same folder and are aware of each other, the video and audio tags are found and their respective callbacks are called. Versions:
[code]
The tags of the `video` contain the attributes of a11y, and the last one is`data-audio-description-voiceover="f

[2020-08-11 18:10] my-instantcms opened #181 "How do I add a playlist to audio?"
Hello.
Who has an example of audio code with a playlist, please show me

[2020-08-26 16:56] etomProductions commented on #181
Did you checked the demo?!!!

`	<div class="media-wrapper">
        <audio id="player2" preload="none" controls width="750"
               data-cast-title="Jazz Example"
               data-cast-description="This is a description for audio only"
               data-cast-poster="http://mediaelementjs.com/images/big_buck_bunny.jpg">
            <source src="http://www.largesound.com/ashborytour/soun

[2020-08-26 16:59] etomProductions opened #182 "How to change the play List position?"
First, Thank you so much for the great plugin.
I was trying to play around ( with fails) trying to change the play List position under the main player.

Is it possible to push with small hint?

Thank you.

[2020-09-14 23:11] MrAbdelaziz commented on #92
Hi guys thanks for the support 👍 , I don't understand how to implement that with MPD source for example :
 <source type="application/dash+xml" src="http://localhost/stream/v2/stream/vid/vid.mpd" />
vid.mpd with multi QL

[2020-09-17 08:48] furqanwasi opened #183 "mediaelementjs marker plugins not working with youtube link or embed"
mediaelementjs  marker plugins not working with youtube link or embed it creates markers elements but does not apply for width/left or expected inline style to the element something like this `width: 3px; left: 19.6549%; background: rgb(51, 96, 117);`
using this page files as example

http://formacionsmart.com/aulavirtual/docs/prototipos/front/js/plugins/mediaelement-4.2.8/mediaelement-plugins-2.5

[2020-11-28 18:13] Mo7sin commented on #182
playlistposition: 'top' or 'bottom'

[2020-12-11 09:42] OttoMichael opened #185 "how do i add a subtitle in a11y plugin"
I have a problem with the a11y plugin. How can I declare a subtitle in the a11y plugin?

i have try this, but it didn't work

 <track kind="subtitles" srclang="en" label="English" src="mediaelement.vtt" default>

[2021-01-19 10:47] SubaruSumeragi opened #186 "Picture-in-Picture plugin isn't build like other plugins ?"
In the dist/picture-in-picture directory, there is only the translation file and a svg picture and no js file for the real plugin.

Is it normal ? This plugin don't need a build like the others ?

[2021-02-11 14:40] pjotrvdh commented on #185
I'm having the same problem. I am trying to add accessibility to video's...

[2021-02-11 14:56] pjotrvdh commented on #185
Apperantly, you need to enable the subtitle in the features.

[code]

The only problem I have now is that enabling the audio description it replaces the audio of the video in stead of adding it.

[2021-03-25 16:27] dmorgenstern-init opened #188 "Add audio track switcher"
Since mediaelement.js player uses https://github.com/video-dev/hls.js for streams, there should be a feature to switch between different audio tracks (e.g. for different languages) that are available in the .m3u8 file.

## Example from JWPlayer:

![image](https://user-images.githubusercontent.com/27417956/112507073-a18a4d00-8d8e-11eb-9569-777db91426e8.png)

https://www.jwplayer.com/developers/web-

[2021-04-09 12:43] mathbarlow opened #190 "Picture-in-Picture don't work when Player is load m3u8 LiveBroadcast"
hello everyone, I loved mediaelement, for now I have a problem with picture-and-picture, I load the m3u8 listing in the video source and it is displayed correctly, but when adding the picture-and-picture plugin, the button is displayed but it does not work.

the error in the catch of the js file, is the following:

DOMException: Failed to execute 'requestPictureInPicture' on 'HTMLVideoElement': Me

[2021-05-16 03:09] vendbits opened #196 "Quality plugin plays mp4 first by default (2nd <source>) and only switches source once."
I'm using the quality plugin and I'm having a few issues:

1. The mp4 video (instead of HLS) starts playing when the play button is clicked even though it's the second ```<source>``` in the ```<video>``` tag.
2. When I click the other data quality option (data-quality 720), it starts playing the HLS file (as I can see in Inspect Element > Network) But when I try to change the source/quality back/a

[2021-05-17 22:34] vendbits commented on #172
Hello,

I'm having an issue with the quality plugin also as described here: https://github.com/mediaelement/mediaelement-plugins/issues/196

I looked at the Codepen mentioned above and I noticed it has the same behavior. The video source/quality is not changing as I can see in Inspect Element > Network

Only **BigBuckBunny.mp4**, and never **big_buck_bunny.mp4** is being played even after switchin

[2021-05-17 22:41] vendbits commented on #196
I found a codepen https://codepen.io/jaapmarcus/pen/GRpxZWj a contributor posted in a closed thread here https://github.com/mediaelement/mediaelement-plugins/issues/172 which has the same issue

The video source/quality is not changing as I can see in Inspect Element > Network

Only BigBuckBunny.mp4, and never big_buck_bunny.mp4 is being played even after switching source/quality

Thank you.

[2021-05-18 15:57] agalindo-init commented on #188
We have the same request for the quality switcher plugin, that uses to work if the markup follows the given plugin example:
https://github.com/mediaelement/mediaelement-plugins/blob/master/demo/quality.html

But with the src attribute loading a .m3u8 file, containing the different qualities won't display the quality switcher. Working out of the box in mediaelement player would be a nive to have, e

[2021-05-19 20:50] Jors13 opened #197 "Error on building Player using playlist plugin on safari"
Only gives me that error on Safari and the entire player dont work , on Chrome and Firefox works great.

Log Error stack
<img width="750" alt="Screen Shot 2021-05-19 at 1 39 45 PM" src="https://user-images.githubusercontent.com/33874500/118880913-6dc83100-b8c0-11eb-9976-66ddb363688a.png">

This is the code to initialize the mediaplayer

[code]

[2021-05-21 16:16] agalindo-init opened #198 "Quality switch doesn't work with m3u8 file"
Hello,
I am looking for a solution to get the Quality Switch Plugin running with a m3u8 file as source, but no source tags as childs of the video element. My first approach was to get the m3u8 file content, parse it, and render the markup for source elements as shown in the plugin example: https://github.com/mediaelement/mediaelement-plugins/blob/master/demo/quality.html

Actually it works like th

[2021-06-15 09:38] dpxgit opened #199 "Audio description in a11y not working for external YouTube videos"
Using the a11y plugin for adding audio description I recognized, that it works fine if I don't use videos rom YouTube. The button for audio description is added but there is no effect clicking it.

It seems that the EventListeners for playing, pausing, tiemupdate etc. added to the player.node are workiing fine for "local" videos, but that for YouTube videos the player.media (that is the wrapper fo

[2021-09-20 18:14] maruapo opened #203 "End behavior differs depending on during-play action"
When finished viewing a video, the player either displays the first frame of the video, or the last frame of the video. It depends on the actions taken during playing of the video. I want the behavior to be the same regardless of during-play action.  See attached video showcasing this behavior.
https://user-images.githubusercontent.com/54076208/134053055-5c75315a-bcd8-4d4c-9c73-b70ced2eccf7.mp4

*

[2021-09-21 23:25] jimkleiber commented on #127
I believe the problem was because it was passing an array and not a string on line 14:
`mejs.i18n.en['mejs.time-skip-back'] = ['Skip back 1 second', 'Skip back %1 seconds'];`

...to the following function on line 25:
`defaultTitle = mejs.i18n.t('mejs.time-skip-back', t.options.skipBackInterval)`

So, not sure if this screws other things up, but I got it to work by changing line 14 to:
`mejs.i18n.e

[2021-09-27 12:34] rotator commented on #172
Hi!

I had the same bug with both versions: mediaelement-plugins 2.5.0 + mediaelement 4.2.17 and mediaelement-plugins 2.6.0 + mediaelement 5.0.0.

The problem was in the newQuality value after radio input change - lines 224-225 in quality.js.
Fixed it for the latest releases mediaelement-plugins 2.6.0 + mediaelement 5.0.0 and created a patch (please, remove .md extension) [mediaelement-plugins-qua

[2021-09-27 12:37] jaapmarcus commented on #172
Please submit a pull request via https://github.com/mediaelement/mediaelement-plugins/pulls

[2021-09-27 13:23] akeilox opened #205 "Broken Controls display"
We are using a copy of this page https://r4fx.github.io/mediaelement-playlist/

and the controls shown inside the player have been broken very recently, it was showing ok before that.
Assuming from a recent update, but I cant locate where the issue is exactly.

Can you please shed some light on what changes required, taking the above URL as reference ?

thank you

[2021-10-01 11:40] dpxgit opened #207 "Timeslider disappearing with individual settings"
When you manually set background-color to black and foreground-color to white in your browser, the horizontal-volume-slider becomes invisible. This affects accessibility and could be solved with border-colors.

![image](https://user-images.githubusercontent.com/80531038/135613806-b6d488a7-4460-4522-a753-4c19302bd5a7.png)

[2021-10-01 11:44] #207 closed

[2021-12-09 19:01] brianstoiber opened #212 "Audio file storage"
I have been running a podcast site for about 3 years and use the PowerPress WordPress plugin. Looking at my server usage, I see that the storage size has grown substantially and I am trying to find an answer or solution.

I host all the audio files on AWS so I thought they were only stored there. However, when I look at the wp-content\uploads\peaks\ directory, which I believe is being created by t

[2021-12-20 19:30] daveyostcom opened #213 "mediaelement Web site problems"
Problems:
- Vimeo demo is trying to play a bad URL
- None of the audio demos work

Versions
- macOS, Version 12.1 (21C52)
- Safari, Version 15.2 (17612.3.6.1.6)
- Safari Technology Preview, Release 136 (Safari 15.4, WebKit 17613.1.9.2)
- Chrome, Version 96.0.4664.110 (Official Build) (x86_64)

[2021-12-20 19:31] daveyostcom commented on #213
Also it would be nice if the AirPlay UI would show.

[2021-12-30 17:47] nemesisKO commented on #198
are you found any solution?

[2022-01-03 04:38] Ahmed-Elrayes opened #214 "Help in Ads plugin to run on specific event"
Hello, at first i wanna say that i'm not so good in javascript.
the thing i'm asking for is, i wanna run a specific function on event such as run function when the ad started playing and run a function when the ad is being clicked on.
Hope someone can show me an example of it.
Thanks in advance

[2022-01-03 11:00] jaapmarcus commented on #214
You can use the  mejsprerollstarted and mejsprerolladsclicked  to see when a ad has been played or been clicked

And then execute the function you want

[2022-01-03 12:23] Ahmed-Elrayes commented on #214
so i would use them the same way we use success function, right?

[2022-01-03 12:29] jaapmarcus commented on #214
Yes

[2022-01-03 12:42] Ahmed-Elrayes commented on #214
i see, thanks a lot, i will try it later and give you my feedback

[2022-01-03 16:31] Ahmed-Elrayes commented on #214
seems like it's not working, i tried to run the function and make a console.log to check it, but nothing appears..
check the image below
![Image 1](https://user-images.githubusercontent.com/30704271/147955212-3aab79f7-f865-4aea-94b4-f9dfdf18ff7a.png)

[2022-01-04 12:28] Ahmed-Elrayes commented on #214
Is there anything you can help me with?

[2022-01-06 12:22] Ahmed-Elrayes commented on #214
hey again, hope you can help me when you're here

[2022-01-08 11:52] Ahmed-Elrayes commented on #214
@jaapmarcus hey, can you help me in this? :)

[2022-01-09 09:19] Ahmed-Elrayes commented on #214
any body here can help?

[2022-01-10 20:11] Ahmed-Elrayes commented on #214
since the support in here is kinda bad unfortunately i had to buy ultimate video player on code canyon, Thanks i will close this issue now.

[2022-01-10 20:11] #214 closed

[2022-01-13 13:32] rotator commented on #172
Updated fix for the mediaelement-plugins 2.6.2 release. Tested with mediaelement 5.0.4 version.
Created PR https://github.com/mediaelement/mediaelement-plugins/pull/215
Please, review.

[2022-02-03 14:07] SubaruSumeragi commented on #186
No ansewr ?

Is there a reason why the picture-in-picture plugin is absent from the file "Gruntfile.js" ?

[2022-02-25 00:58] andre-bisewski-fluency commented on #196
@vendbits Hi!
Do you found a workaround for this issue?

[2022-02-28 03:12] b4zz4 opened #217 "Player SBS, TAB (3D) to anaglyph or VR"
A player capable of playing 3D movies to see with bicolor lenses or VR

https://www.youtube.com/watch?v=FSGfN9rr78Q

[SBS ](https://en.wikipedia.org/wiki/DVB_3D-TV#Side_by_side)

[2022-06-21 09:03] pakal commented on #143
Just tried today with the recent 4.2.X mediaelement and playlist plugin, playlist doesn't get updated at all when current music changes.

[2022-06-21 09:07] pakal opened #223 "Playlist plugin fails at the end of playlist run"
As we see in this except, at the end, the playlist still tries to load an items OUT of bounds, which is undefined, so the mediaelement player makes errors ; it should be "< player.listItems.length - 1".

[code]

[2022-06-29 11:09] Bakual opened #225 "Playlist fails to play next audio after first ends"
When the first audio is finished playing, the player is supposed to play the next item in list.
Instead it replays the first one, but displays the info from the second item
In the browser console I get this error:
![image](https://user-images.githubusercontent.com/1018684/176421671-58bccbe9-22a6-4347-91c5-45251b7e9b62.png)

Using next/prev works, there it plays the next item just fine. It looks li

[2022-06-29 13:09] Bakual commented on #225
I think the issue is on this line:
https://github.com/mediaelement/mediaelement-plugins/blob/5a854644445ffce95df2b40564e5da83c30dcedf/src/playlist/playlist.js#L84

Should be
``player.setSrc(player.playlist[++player.currentPlaylistItem].src);``

[2022-11-18 15:18] dpxgit commented on #196
Has been fixed with release 2.6.3.

[2022-11-18 15:18] #196 closed